@font-face {
  font-family: 'icomoon';
  src: font('icons/icomoon.eot?-thr0i0');
  src: font('icons/icomoon.eot?#iefix-thr0i0') format('embedded-opentype'),
    font('icons/icomoon.woff?-thr0i0') format('woff'),
    font('icons/icomoon.ttf?-thr0i0') format('truetype'),
    font('icons/icomoon.svg?-thr0i0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  // Better Font Rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-apprentice:before {
  content: '\e606';
}

.icon-guru:before {
  content: '\e604';
}

.icon-master:before {
  content: '\e600';
}

.icon-enlighten:before {
  content: '\e60e';
}

.icon-burned:before {
  content: '\e609';
}

