@import 'vendor/breakpoint';

@import 'vendor/vendor';
@import 'helpers/helpers';
@import 'base/base';
@import 'layout/layout';
@import 'pages/pages';
@import 'components/components';
@import 'themes/themes';

// Styles to SORT
.home-button {
  margin-left: 0;
  margin-top: 20px;
}

#reviews-left {
  float: right;
  margin-right: 0;
  width: 52px;
}

#contactdiv {
  height: 15em;
  left: 50%;
  margin-left: -10em;
  margin-top: -7.5em; /*set to a negative number 1/2 of your height*/
  position: fixed;
  top: 40%;
  width: 20em;
}
