@import 'vendor/vendor';
@import 'icons';
@import 'components/components';

// below note by evo - wonder what it means :P maybe it's like a _shame.scss
// Styles to SORT
.home-button {
  margin-left: 0;
  margin-top: 20px;
}

#reviews-left {
  float: right;
  margin-right: 0;
  width: 52px;
}

#contactdiv {
  height: 15em;
  left: 50%;
  margin-left: -10em;
  margin-top: -7.5em; /*set to a negative number 1/2 of your height*/
  position: fixed;
  top: 40%;
  width: 20em;
}
