// ---------
// Variables
// ---------

//Colours
$purple: #631a93;


// -------------------
// Basic Global Styles
// -------------------
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-kerning: normal;
}

body {
  background: #eee;
  color: #333;
}

[contenteditable="true"] {
  overflow: hidden!important;

  br {
    display: none!important;
  }

  * {
    display: inline!important;
  }
}

@import 'fonts';
@import 'icons';
