// 300, 400, 700 weights available
$ff-body: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
// 400 only
$ff-heading: "Ubuntu", Helvetica, Arial, sans-serif;
$ff-japanese: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;

body {
  font-family: $ff-body;
  font-size: responsive 15px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-dark;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;
}

h1 {
  font-family: $ff-heading;
  font-size: 30px;
  font-size: responsive 22px 40px;
  font-range: 600px 1600px;
}

h2 {
  font-size: responsive 20px 34px;
}

h3 {
  font-size: responsive 18px 30px;
}

h4 {
  font-size: responsive 17px 26px;
}

h5 {
  font-size: responsive 16px 25px;
}

h6 {
  font-size: responsive 16px 23px;
}

b,
strong {
  font-family: $ff-heading;
}

a {
  text-decoration: none;
  @include linx(
    $grey, // base color
    $grey-dark, // visited
    $grey-light, // hover
    $grey-light // focus/active
  );
}
