@oknav-header-bg: whitesmoke;
@oknav-header-height: 90px;

@oknav-links-color: rgb(77,77,77);
@oknav-links-hover-color: rgb(77,77,77);
@oknav-links-font-size: 1em;
@oknav-links-font-weight: normal;
@oknav-links-padding-x: 0;
@oknav-links-padding-y: 0;

@oknav-kebab-color: @oknav-links-color; // Icon color by default
@oknav-kebab-active-color: @oknav-links-hover-color; // Icon color when nav is open

@oknav-transition-curve: cubic-bezier(.55,0,.1,1);
@oknav-transition-speed: 200ms;
@oknav-invisible-background: transparent;
