{% extends "kw_webapp/logged_in.html" %}
{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/alllevels.js" %}"></script>
<script src="{% static "js/notify.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/unlocklevels.css" %}">
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
            {% for level in levels %}
                    {% if level.0 > user.profile.level %}
                        <a href="" class="list-group-item list-group-item-danger text-center locked"><p>Level {{ level.0 }} Locked</p></a>
                    {% elif level.1 == True %}
                        <a href={% url "kw:vocab_level" level.0 %} class="list-group-item list-group-item-success text-center unlocked"><p>Level {{ level.0 }} Unlocked</p></a>
                    {% elif level.1 == False %}
                        <a href="" class="list-group-item list-group-item-warning text-center unlockable" id="{{ level.0 }}" style="position: relative;">
                            <p>Level {{ level.0 }} Unlockable</p>
                            <img src="{% static "images/ajax-loader.gif" %}" id="img_{{ level.0 }}" class="image">
                        </a>

                    {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

<form>
    <input type="hidden" id="csrf" value="{{ csrf_token }}"></input>
</form>

{% endblock %}