{% extends "kw_webapp/logged_in.html" %}
{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/alllevels.js" %}"></script>
<script src="{% static "js/notify.min.js" %}"></script>
<link rel="stylesheet" href="{% static "css/unlocklevels.css" %}">
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-fluid">
  <ul class="unlock-levels">
    {% for level in levels %}
        {% if level.0 > user.profile.level %}
          <li class="col-md-2 unlock-levels__item">
            <a href="" class="list-group-item-danger text-center locked">
              <span class="unlock-levels__level">Level {{ level.0 }}</span>
              <span class="unlock-levels__status">Locked</span>
            </a>
          </li>
        {% elif level.1 == True %}
          <li class="col-md-2 unlock-levels__item">
            <a href={% url "kw:vocab_level" level.0 %} class="list-group-item-success text-center unlocked">
              <span class="unlock-levels__level">Level {{ level.0 }}</span>
              <span class="unlock-levels__status">Unlocked</span>
            </a>
          </li>
        {% elif level.1 == False %}
          <li class="col-md-2 unlock-levels__item">
            <a href="" class="list-group-item-warning text-center unlockable" id="{{ level.0 }}" style="position: relative;">
              <span class="unlock-levels__level">Level {{ level.0 }}</span>
              <span class="unlock-levels__status">Unlockable</span>
              <img src="{% static "images/ajax-loader.gif" %}" id="img_{{ level.0 }}" class="image">
            </a>
          </li>
        {% endif %}
    {% endfor %}
  </ul>

</div>

<form>
  <input type="hidden" id="csrf" value="{{ csrf_token }}"></input>
</form>

{% endblock %}