{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block title %}{% endblock title %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/styles.css">

  <script src="/static/js/head-scripts.js"></script>
  {% block scripts %} {% endblock scripts %}
</head>
<body>
  {% block header %}{% endblock header %}

  {% block main %}{% endblock main %}

  {% block footer %}{% endblock footer %}

  <script src="/static/js/scripts.js"></script>
</body>
</html>
