{% extends "kw_webapp/logged_in.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
{% endblock %}
{% block title %}
{{ block.super }}
  <title>Contact us</title>
{% endblock %}



{% block main %}
{{ block.super }}
<main>
  <header>
    <h1>Contact</h1>
  </header>

  <section>
    <p>Sorry, no contact form setup yet. Please get a hold of me at <a href="mailto:tadgh@cs.toronto.edu">my email address</a>. If you find a bug in the site (and there will be plenty, I'm not a web developer), <a href="https://docs.google.com/forms/d/11y5CimRb7E1m-xCsRcPu-Ee5z1hddArCScy6s8XUGqA/viewform?usp=send_form" rel="external">submit a bug report</a>.</p>
  </section>
</main>
{% endblock %}

{% block footer %}
{{ block.super }}
<footer class="footer">
</footer>
{% endblock %}
