{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
  <title>Home</title>
{% endblock %}

{% block header %}
{{ block.super }}
<header class="header">
  <a href="/" class="logo logo--active">
    <span class="logo__kanji">
      <span>かにわに</span>
      <span>蟹鰐</span>
    </span>
    <h1 class="logo__text">KaniWani</h1>
  </a>

  <nav class="primary-nav">
    <ul class="primary-nav__list">
      <li class="primary-nav__item">
        <a href="{% url "kw:home" %}" class="primary-nav__link">
          <span>Reviews</span>
          {% if review_count > 0 %}
            <span class="primary-nav__reviews-num">({{ review_count }})</span>
          {% else %}
            <span class="primary-nav__reviews-num">(in {{ next_review_date|naturaltime }})</span>
          {% endif %}
        </a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:vocabulary" %}" class="primary-nav__link"><span>Vocabulary</span> <span class="fa fa-briefcase"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:about" %}" class="primary-nav__link"><span>About</span> <span class="fa fa-question"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:contact" %}" class="primary-nav__link"><span>Contact</span> <span class="fa fa-envelope"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:settings" %}" class="primary-nav__link"><span>Settings</span> <span class="fa fa-cog"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{%  url "kw:logout" %}" class="primary-nav__link"><span>Logout</span> <span class="fa fa-sign-out"></span></a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block main %}
{{ block.super }}
<main>
  <header>
    <h1>Dashboard</h1>
  </header>

  <section>
    <div class="user">
      <div class="user-overview">
        <h2 class="user-name">{{ user.username }}</h2>
        <div class="user-gravatar gravatar">
          <img title="Gravatar" alt="Gravatar" src="//www.gravatar.com/avatar/{{ user.profile.gravatar }}.jpg?s=300">
        </div>

        <div class="dashboard-reviews">
          <h2 class="visually-hidden">Reviews</h2>
          <button class="pure-button dashboard-reviews__refresh"><span class="visually-hidden">Refresh</span><span class="fa fa-refresh"></span></button>
          {% if review_count > 0 %}
            <button class="pure-button dashboard-reivews__count">{{ review_count }} Review{{ review_count|pluralize }}</button>
          {% else %}
            <button class="pure-button dashboard-reivews__count">Next review: {{ next_review_date|naturaltime }}</button>
          {% endif %}
        </div>
      </div>

      <div class="user-details">
        <div class="col">
          <h3>Crabigator Apprentice Info</h3>
          <ul class="user-details__list">
            <li class="user-details__item">
              <strong><span class="username">{{ user.username }}</span></strong> of <strong>&lt;Sect <span class="title">Turtles</span>&gt;</strong>
            </li>
            <li class="user-details__item">
              <strong>Level <span class="level">{{ user.profile.level }}</span></strong> &lt;Apprentice&gt;
            </li>
            <li class="user-details__item">
              Scribed <strong>&lt;<span class="topics-count">6</span>&gt; topics</strong> &amp; <strong>&lt;<span class="posts-count">78</span> posts&gt;</strong>
            </li>
            <li class="user-details__item">
              Serving the Crabigator since <strong>&lt;<span class="join-date">May 26, 2012</span>&gt;</strong>
            </li>
          </ul>
        </div>

        <div class="col">
          <h3>About Evolutionxbox</h3>
          <p>&lt;Experienced web developer from London. Currently works @radleyyeldar.&gt;</p>
          <ul class="user-soical">
            <li class="user-soical__item">
              &lt;<a href="http://www.twitter.com/evolutionxbox" class="user-soical__link"><span class="fa fa-twitter"></span>@evolutionxbox</a>&gt;
            </li>
            <li class="user-soical__item">
              &lt;<a href="http://jonweb.co.uk" class="user-soical__link"><span class="fa fa-link"></span>Website</a>&gt;
            </li>
          </ul>
        </div>
      </div>
      <!-- <p class="user-level">WaniKani Level <strong>6</strong></p> -->
    </div>
  </section>

  <section>
    <div>
      <h2>Announcments</h2>
      <ul class="accordion__list">
        {% for item in announcements %}
        <li class="accordion__item">
          <a href="#" class="accordion__link">{{ item.title }}</a>
          <div class="accordion__content">{{ item.body|safe }}<br> -- <strong>{{ item.creator.username }}</strong></div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
{{ block.super }}
<footer class="footer">
</footer>
{% endblock %}
