{% extends "kw_webapp/logged_in.html" %}

{% block content %}
  {{ block.super }}

<input type="hidden" id="csrf" value="{{ csrf_token }}">

<section class="vocab-section">
  <div class="inner">
    <h1 class="section-heading">
      <a href="{% url "kw:vocabulary" %}">Vocabulary</a><span class="breadcrumb">Level {{ selected_level }}</span>
    </h1>

    <ul class="vocab-list">
      {% for review in reviews %}
        <li class="vocab-card {% if review.hidden %}-locked -unlockable {% endif %}"
            data-pk="{{ review.id }}">

        <div class="vocab-base">
          <!-- FIXME: @tadgh can you tease the logic to show the first kanji only, but still multiple kana/meaning -->
          {% for reading in review.vocabulary.reading_set.all %}
            <div class="readingset">
              <span lang="ja" class="kanji">{{ reading.character }}</span>
              <span lang="ja" class="kana">{{ reading.kana }}</span>
              <!-- TODO: @djtb indivdual meanings would be better as inline elements inside meaning wrap -  so they can line-break an entire multi-word meaning (rather than mid-meaning) -->
              <span class="meaning">{{ reading.vocabulary.meaning }}</span>
            </div>
          {% endfor %}

          {% if review.hidden %}
            <span class="icon i-unlock"></span>
          {% else %}
            <span class="icon i-unlocked"></span>
          {% endif %}

        </div>


        {% comment 'not ready for production - also needs update from styleguide template' %}
        <div class="vocab-extra">
          {% if review.streak > 8 %}
            <span class="icon i-burned" title="KaniWani Level - Burned"></span>
          {% elif review.streak > 7 %}
              <span class="icon i-enlightened" title="KaniWani Level - Enlightened"></span>
          {% elif review.streak > 5 %}
            <span class="icon i-guru" title="KaniWani Level - Guru"></span>
          {% elif review.streak > 2 %}
            <span class="icon i-master" title="KaniWani Level - Master"></span>
          {% else %}
            <span class="icon i-apprentice" title="KaniWani Level - Apprentice"></span>
          {% endif %}

          <div class="synonyms">
            <span class="text">User synonyms:</span>

            <!-- TODO: possible approach using separate contentEditable <li>s
                 http://codepen.io/chriscoyier/pen/LVEdJg -->

            <ul class="list">
              <li class="item">Implementing</li>
              <li class="item">Soon but not yet!</li>
              <li>{{ review.synonyms_string }}</li>
            </ul>
          </div>

          <button class="button extraToggle i-downarrow" title="More…"></button>

        </div>
        {% endcomment %}

      </li>
    {% endfor %}
    </ul>

  </div>
</section>

{% endblock %}
