{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block scripts %}
{{ block.super }}
    {{ block.super }}
{% endblock %}

{% block title %}
  <title>Vocabulary</title>
{% endblock %}

{% block header %}
{{ block.super }}
<header class="header">
  <a href="/" class="logo logo--active">
    <span class="logo__kanji">
      <span>かにわに</span>
      <span>蟹鰐</span>
    </span>
    <h1 class="logo__text">KaniWani</h1>
  </a>

  <nav class="primary-nav">
    <ul class="primary-nav__list">
      <li class="primary-nav__item">
        <a href="{% url "kw:review" %}" class="primary-nav__link">
          <span>Reviews</span>
          {% if review_count > 0 %}
            <span class="primary-nav__reviews-num">({{ review_count }})</span>
          {% else %}
            <span class="primary-nav__reviews-num">(in {{ next_review_date|naturaltime }})</span>
          {% endif %}
        </a>
      </li>
      <li class="primary-nav__item primary-nav__item--active">
        <a href="{% url "kw:vocabulary" %}" class="primary-nav__link"><span>Vocabulary</span> <span class="fa fa-briefcase"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:about" %}" class="primary-nav__link"><span>About</span> <span class="fa fa-question"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:contact" %}" class="primary-nav__link"><span>Contact</span> <span class="fa fa-envelope"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{% url "kw:settings" %}" class="primary-nav__link"><span>Settings</span> <span class="fa fa-cog"></span></a>
      </li>
      <li class="primary-nav__item">
        <a href="{%  url "kw:logout" %}" class="primary-nav__link"><span>Logout</span> <span class="fa fa-sign-out"></span></a>
      </li>
    </ul>
  </nav>
</header>
{% endblock %}

{% block main %}
{{ block.super }}

<main role="main">
  <header>
    <h1><a href="{% url "kw:vocabulary" %}">Vocabulary</a> > <span>Level &lt;needs level number here&gt;</span></h1>
  </header>

  <ul class="vocab__list">
      {% for review in reviews %}
        {% if review.hidden == False %}
          <li class="vocab__item">
        {% else %}
          <li class="vocab__item vocab__item--locked">
        {% endif %}
          <div class="vocab-upper">
            {% for reading in review.vocabulary.reading_set.all %}
              <div class="vocab__reading">
                <span class="vocab__kanji">{{ reading.character }}</span>
                <span class="vocab__kana">{{ reading.kana }}</span>
                <span class="vocab__meaning">{{ reading.vocabulary.meaning }}</span>
              </div>
            {% endfor %}

            {% if review.hidden == False %}
              <a href="#" class="fa fa-unlock" title="Unlocked"><span class="visually-hidden">Unlocked</span></a>
            {% else %}
              <a href="#" class="fa fa-unlock-alt" title="Unlockable"><span class="visually-hidden">Unlockable</span></a>
            {% endif %}
          </div>
          <div class="vocab-lower">
            {% if review.streak > 8 %}
              <span class="icon icon-burned" title="KaniWani Level - Burned"></span>
            {% else %}
              {% if review.streak > 7 %}
                <span class="icon icon-enlightened" title="KaniWani Level - Enlightened"></span>
              {% else %}
                {% if review.streak > 5 %}
                  <span class="icon icon-guru" title="KaniWani Level - Guru"></span>
                {% else %}
                  {% if review.streak > 2 %}
                    <span class="icon icon-master" title="KaniWani Level - Master"></span>
                  {% else %}
                    <span class="icon icon-apprentice" title="KaniWani Level - Apprentice"></span>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}

            <div class="vocab-synonyms">
              User synonyms: <span contentEditable="true">{{ review.synonyms }}</span><!-- 
              <ul class="vocab-synonyms__list">
                <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
                <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
              </ul> -->
            </div>
            <a href="#" class="vocab-lower__toggle fa fa-plus"></a>
          </div>
        </li>
      {% endfor %}
    </ul>

  <h3>For demo purposes:</h3>
  <ul class="vocab__list">
    <li class="vocab__item vocab__item--locked">
      <div class="vocab-upper">
        <div class="vocab__reading">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
        </div>
        <a href="#" class="fa fa-unlock-alt" title="Unlockable"><span class="visually-hidden">Unlockable</span></a>
      </div>
      <div class="vocab-lower">
        <span class="icon icon-enlighten"></span>

        <div class="vocab-synonyms">
          User synonyms: 
          <ul class="vocab-synonyms__list">
            <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
            <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
          </ul>
        </div>
        <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
      </div>
    </li>
    <li class="vocab__item vocab__item--active">
      <div class="vocab-upper">
        <div class="vocab__reading">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
        </div>
        <a href="#" class="fa fa-unlock" title="Unlocked"><span class="visually-hidden">Unlocked</span></a>
      </div>
      <div class="vocab-lower">
        <span class="icon icon-enlighten"></span>

        <div class="vocab-synonyms">
          User synonyms: 
          <ul class="vocab-synonyms__list">
            <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
            <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
          </ul>
        </div>
        <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
      </div>
    </li>
    <li class="vocab__item vocab__item--locked">
      <div class="vocab-upper">
        <div class="vocab__reading">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
        </div>
        <a href="#" class="fa fa-lock" title="Locked"><span class="visually-hidden">Locked</span></a>
      </div>
      <div class="vocab-lower">
        <span class="icon icon-burned"></span>

        <div class="vocab-synonyms">
          User synonyms: 
          <ul class="vocab-synonyms__list">
            <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
            <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
          </ul>
        </div>
        <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
      </div>
    </li>
  </ul>
</main>

{% endblock %}

{% block footer %}
{{ block.super }}
<footer class="footer">
</footer>
{% endblock %}
