{% extends "kw_webapp/logged_in.html" %}
{% block title %}| Vocab > {{ selected_level | capfirst }}{% endblock %}

{% block content %}
  {{ block.super }}

<input type="hidden" id="csrf" value="{{ csrf_token }}">

<section class="vocab-section">
  <div class="inner">
    <h1 class="section-heading">
      <a href="{% url 'kw:vocab' %}">Vocabulary</a><span class="breadcrumb">Level {{ selected_level | capfirst }}</span>
    </h1>

    <ul class="vocab-list">
      {% for review in reviews %}
      <li id="vocab{{ review.vocabulary.id }}" class="vocab-card {% if review.hidden %}-locked -unlockable {% endif %}" data-vocab-id="{{ review.id }}">
        <div class="vocab-base">
          <dl class="readingset">
            <span class="ja">
              {% for reading in review.vocabulary.reading_set.all %}
                {% ifchanged %}<dt lang="ja" class="kana">{{ reading.kana }}</dt>{% endifchanged %}
                {% ifchanged %}<dt lang="ja" class="kanji">{{ reading.character }}</dt>{% endifchanged %}
              {% endfor %}
              {% for synonym in review.answersynonym_set.all %}
                <dt lang="ja" class="kana">{{ synonym.kana }}</dt>
                <dt lang="ja" class="kanji">{{ synonym.character }}
                  <span class="icon i-cancel removeSynonym" title="Remove Synonym" data-synonym-id="{{ synonym.id }}"></span>
                </dt>
              {% endfor %}
            </span>
            <dd class="meaning">{{ review.vocabulary.meaning }}</dd>
          </dl>

          {% if review.hidden %}
            <span class="icon i-unlock -lockstatus toggleLock"></span>
          {% else %}
            <span class="icon i-unlocked -lockstatus toggleLock"></span>
          {% endif %}

          {% if review.wanikani_burned %}
            <span class="icon -srslevel i-burned" title="Burned on WaniKani!"></span>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  {% if not reviews %}
    <div class="empty">
      <p>Oh my, you haven't unlocked anything here.</p>
      <p>Maybe go clickity click some locks in your <a href="{% url 'kw:vocab' %}">vocabulary</a> or toggle some <a href="{% url 'kw:settings' %}">settings</a>.</p>
      <p>Failing that, go ahead and level up some vocab through reviews (￣ω￣;)</p>
    </div>
  {% endif %}
  </div>
</section>

</div>
<!-- / .site-content -->
{% include 'partials/site-footer.html' %}

{% endblock %}
