{% extends "kw_webapp/logged_in.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "js/levels.js" %}"></script>
{% endblock %}

{% block title %}
{{ block.super }}
  <title>Vocabulary</title>
{% endblock %}


{% block content %}
{{ block.super }}

  <main role="main">
    <header>
      <h1>Vocabulary</h1>
    </header>

    <ul class="level__list">
      {% for level in levels %}
        {% if level.0 > user.profile.level %}
          <li class="level__item level__item--locked" data-level-id="{{ level.0 }}">
            <a class="level__link" title="Locked">
              <span class="level__number">{{ level.0 }}</span>
              <span class="fa fa-lock"><span class="visually-hidden">Locked</span></span>
            </a>
          </li>
        {% elif level.1 == True %}
          <li class="level__item" data-level-id="{{ level.0 }}">
            <a href="{% url "kw:vocabulary" %}{{ level.0 }}" class="level__link" title="Unlocked">
              <span class="level__number">{{ level.0 }}</span>
              <span class="fa fa-unlock"><span class="visually-hidden">Unlocked</span></span>
            </a>
          </li>
        {% elif level.1 == False %}
          <li class="level__item level__item--locked" data-level-id="{{ level.0 }}">
            <a href="{% url "kw:vocabulary" %}{{ level.0 }}" class="level__link" title="Unlockable">
              <span class="level__number">{{ level.0 }}</span>
              <span class="level__unlock fa fa-unlock-alt"><span class="visually-hidden">Unlockable</span></span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </main>

<!--   {% for level in levels %}
    {% if level.0 > user.profile.level %}
      <a href="" class="list-group-item list-group-item-danger text-center locked"><p>Level {{ level.0 }} Locked</p></a>
    {% elif level.1 == True %}
      <a href="" class="list-group-item list-group-item-success text-center unlocked"><p>Level {{ level.0 }} Unlocked</p></a>
    {% elif level.1 == False %}
      <a href="" class="list-group-item list-group-item-warning text-center unlockable" id="{{ level.0 }}" style="position: relative;">
        <p>Level {{ level.0 }} Unlockable</p>
        <img src="{% static "images/ajax-loader.gif" %}" id="img_{{ level.0 }}" class="image">
      </a>
    {% endif %}
  {% endfor %} -->
<form>
  <input type="hidden" id="csrf" value="{{ csrf_token }}">
</form>
{% endblock %}

{% block footer %}
{{ block.super }}
<footer class="footer">
</footer>


{% endblock %}
