{% extends "kw_webapp/logged_in.html" %}

{% block content %}
  {{ block.super }}

  <input type="hidden" id="csrf" value="{{ csrf_token }}">

  <section class="levels-section">
    <div class="inner">
      <h1 class="section-heading">
        Vocabulary<span class="breadcrumb">Levels</span>
      </h1>

      <ul class="level-list">
        {% for level in levels %}
          {% if level.1 == True %}
            <li class="level-card" data-level-id="{{ level.0 }}">
              <a href="{% url "kw:vocabulary" %}{{ level.0 }}" class="wrap">
                <span class="levelnum">{{ level.0 }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

{% endblock %}


{% comment 'old template' %}

  <main role="main">
    <header>
      <h1>Vocabulary</h1>
    </header>

    <ul class="level__list">
      {% for level in levels %}
        {% if level.0 > user.profile.level %}
          <li class="level__item level__item--locked" data-level-id="{{ level.0 }}">
            <a class="level__link" title="Locked">
              <span class="level__number">{{ level.0 }}</span>
              <span class="fa fa-lock"><span class="visually-hidden">Locked</span></span>
            </a>
          </li>
        {% elif level.1 == True %}
          <li class="level__item" data-level-id="{{ level.0 }}">
            <a href="{% url "kw:vocabulary" %}{{ level.0 }}" class="level__link" title="Unlocked">
              <span class="level__number">{{ level.0 }}</span>
              <span class="fa fa-unlock"><span class="visually-hidden">Unlocked</span></span>
            </a>
          </li>
        {% elif level.1 == False %}
          <li class="level__item level__item--locked" data-level-id="{{ level.0 }}">
            <a href="{% url "kw:vocabulary" %}{{ level.0 }}" class="level__link" title="Unlockable">
              <span class="level__number">{{ level.0 }}</span>
              <span class="level__unlock fa fa-unlock-alt"><span class="visually-hidden">Unlockable</span></span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </main>

{% endcomment %}
