{% extends "kw_webapp/base.html" %}
{% load humanize %}
{% load lineage %}
{% block content %}

<header class="site-header" role="banner">
  <div class="inner">
    <a href="/" class="site-logo">
      <span class="text">
        <span class="kana">かに&#8202;わに</span>
        <span class="kanji">蟹鰐</span>
      </span>
    </a>

    <nav class="site-nav">
      <a href="#0" class="expandToggle">☰ Menu</a>
      <ul class="nav-list toggleTarget">
        <li class="item {% ancestor 'kw:review' %}">
          <a href="{% url "kw:review" %}" class="nav-link">
            <span class="text">Reviews
              {% if review_count %}<span class="count">{{ review_count }}</span>{% endif %}
            </span>
          </a>
        </li>
        <li class="item {% ancestor 'kw:unlocks' %}">
          <a href="{% url "kw:unlocks" %}" class="nav-link">
            <span class="text">Unlocks</span>
          </a>
        </li>
        <li class="item {% ancestor 'kw:about' %}">
          <a href="{% url "kw:about" %}" class="nav-link">
            <span class="text">About</span>
          </a>
        </li>
        <li class="item {% ancestor 'contact:contact_form' %}">
          <a href="{% url "contact:contact_form" %}" class="nav-link">
            <span class="text">Contact</span>
          </a>
        </li>
        <li class="item {% ancestor 'kw:settings' %}">
          <a href="{% url "kw:settings" %}" class="nav-link">
            <span class="text">Settings</span>
          </a>
        </li>
        <li class="item {% ancestor 'kw:logout' %}">
          <a href="{% url "kw:logout" %}" class="nav-link">
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>

{% endblock %}
