{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    <!-- <link rel="stylesheet" href="{% static "css/navbar_top.css" %}" xmlns="http://www.w3.org/1999/html"> -->
{% endblock %}
{% block content %}

<header class="site-header" role="banner">
  <div class="inner">
    <a href="/" class="site-logo">
      <span class="text">
        <span class="kana">かに&#8202;わに</span>
        <span class="kanji">蟹鰐</span>
      </span>
    </a>

    <nav class="site-nav">
      <a href="#0" class="expandToggle">☰ Menu</a>
      <ul class="nav-list toggleTarget">
        <!-- TODO: IF ACTIVE, -active CLASS ON li -->
        <li class="item">
          <a href="{% url "kw:review" %}" class="nav-link">
            <span class="text">Reviews <span class="count">42+</span></span>
          </a>
        </li>
        <li class="item">
          <a href="{% url "kw:vocabulary" %}" class="nav-link">
            <span class="text">Vocab</span>
          </a>
        </li>
        <li class="item">
          <a href="{% url "kw:about" %}" class="nav-link">
            <span class="text">About</span>
          </a>
        </li>
        <li class"item">
          <a href="{% url "kw:contact" %}" class="nav-link">
            <span class="text">Contact</span>
          </a>
        </li>
        <li class="item">
          <a href="{% url "kw:settings" %}" class="nav-link">
            <span class="text">Settings</span>
          </a>
        </li>
        <li class="item">
          <a href="{% url "kw:logout" %}" class="nav-link">
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>

{% endblock %}
