{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/navbar_top.css" %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}

    <div class="container">
         <div class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">KaniWani</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li id="home_tab">      <a href="{% url "kw:home" %}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li id="unlocks_tab">   <a href="{% url "kw:unlocks" %}"><span class="glyphicon glyphicon-lock"></span></a></li>
                <li id="about_tab">     <a href="{% url "kw:about" %}"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                <li id="vocabulary_tab"><a href="{% url "kw:vocab" %}"><span class="glyphicon glyphicon-briefcase"></span></a></li>
                <li id="contact_tab">   <a href="{% url "kw:contact" %}"><span class="glyphicon glyphicon-envelope"></span></a></li>
                <li id="settings_tab">  <a href="{%  url "kw:settings" %}"><span class="glyphicon glyphicon-cog"></span></a></li>
              </ul>
              <a href="{% url "kw:logout" %}" id="logoutbtn" class="btn btn-default navbar-btn navbar-nav navbar-right" role="button">Logout</a></li>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    </div>
    <body>
{% endblock %}
</body>