
{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
<!--Load review scripts-->
{% block scripts %}
    <script src="{% static "js/review.js"%}"></script>
    <script src="{% static "js/wanakana.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/review.css"%}">
{% endblock scripts %}

{% block content %}


<section class="review-section -fullwidth">
  {% include 'partials/review-header.html' %}
  {% include 'partials/review-quiz.html' %}
</section>

<!-- does this need to be in a form?  -->
<form class="_visuallyhidden"><input type="hidden" id="csrf" value="{{ csrf_token }}"></form>

<script>
    var vocabulary_list = [
        {% for item in object_list %}
        {
            'user_specific_id':'{{ item.id }}',
            'meaning':'{{ item.vocabulary.meaning }}{% if item.synonyms_string %}, {{ item.synonyms_string }}{% endif %}',
            'readings':  [{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.kana }}',{% endif %}{% endfor %}],
            'characters':[{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.character }}',{% endif %}{% endfor %}],
        },
        {% endfor %}
    ];
    console.log(vocabulary_list);
    var current_vocab;
    $("#reviewsLeft").html(vocabulary_list.length)
    current_vocab = vocabulary_list.shift();
    console.log(current_vocab.meaning);
    $("#detailsCharacter").hide();
    $("#detailsReading").hide();
    $("#meaning").html(current_vocab.meaning);
    $("#us-id").val(current_vocab.user_specific_id);
    $("#kana").html("");
        for(i = 0; i < current_vocab.readings.length; i++){
            $("#kana").append(current_vocab.readings[i] + "</br>");
        }
        $("#character").html("");
        for(i = 0; i < current_vocab.characters.length; i++){
            $("#character").append(current_vocab.characters[i] + "</br>");
        }



</script>
{% endblock %}
