{% extends "kw_webapp/base.html" %}
{% block title %}| Review{% endblock %}
{% block content %}

    <input type="hidden" id="csrf" value="{{ csrf_token }}">

    <section class="review-section -fullwidth">
      {% include 'partials/review-header.html' %}
      {% include 'partials/review-quiz.html' %}
    </section>

    <script>
        var reviewVocab = [
            {% for item in object_list %}
            {
                'user_specific_id':'{{ item.id }}',
                'meaning':'{{ item.vocabulary.meaning }}{% if item.synonyms_string %}, {{ item.synonyms_string }}{% endif %}',
                'readings':  [{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.kana }}',{% endif %}{% endfor %}],
                'characters':[{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.character }}',{% endif %}{% endfor %}],
            },
            {% endfor %}
        ];

        var updateVocab = simpleStorage.set('sessionVocab', reviewVocab);
        var updateCount = simpleStorage.set('reviewCount', reviewVocab.length);
        console.log(
            'Update session vocab:', updateVocab,
            '\n Update count:', updateCount,
            '\n Length:', reviewVocab.length
        );
    </script>

{% endblock %}
