{% extends "kw_webapp/logged_in.html" %}

{% block content %}
  {{ block.super }}

<section class="summary-section">
  <div class="inner">

    <h1 class="section-heading">{% widthratio correct_count review_count 100 %}% Accuracy</h1>

    <h2 class="title">{{ incorrect_count }} Incorrect</h2>
    {% if incorrect_count > 0 %}

      <ul class="vocab-list -incorrect">
        {% for review in incorrect %}
          <li class="vocab-card">
            <div class="vocab-base">
              <a href="{% url "kw:vocab" %}{{ reading.level }}#vocab{{ review.id }}" class="readingset">
                <div class="ja">
                  {% for reading in review.vocabulary.reading_set.all %}
                    {% ifchanged %}<span lang="ja" class="kana">{{ reading.kana }}</span> {% endifchanged %}
                    {% ifchanged %}<span lang="ja" class="kanji">{{ reading.character }}</span> {% endifchanged %}
                  {% endfor %}
                </div>
                <div class="meaning">{{ review.vocabulary.meaning }}</div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <h3 class="title">完璧だった！ (๑•̀ㅂ•́)و</h3>
    {% endif %}

    <h2 class="title">{{ correct_count }} Correct</h2>

    {% if correct_count > 0 %}

      <ul class="lattice-list -correct">
        {% for review in correct %}
        {% with review.vocabulary.reading_set.first as reading %}
          <li class="item">
            <a lang="ja" class="link hint--bottom hint--rounded" data-hint="{{ reading.kana }} | {{ review.vocabulary.meaning }}" href="{% url "kw:vocab" %}{{ reading.level }}#vocab{{ reading.id }}">{{ reading.character }}</a>
          </li>
        {% endwith %}
        {% endfor %}
      </ul>

    {% else %}
      <h3>残念 (๑◕︵◕๑)</h3>
    {% endif %}

  </div>
</section>

</div>
<!-- / .site-content -->
{% include 'partials/site-footer.html' %}

{% endblock content %}
