
{% extends "kw_webapp/base.html" %}
{% load staticfiles %}
<!--Load review scripts-->
{% block scripts %}
    <script src="{% static "js/review.js"%}"></script>
    <script src="{% static "js/wanakana.min.js" %}"></script>
{% endblock scripts %}

{% block content %}
<div class="container-full">
    <div class="row">
        <h1 id="meaning" class="col-md-10 col-md-offset-1 text-center">Meaning</h1>
        <h1 class="text-center col-md-1" id="reviews-left">1</p>
    </div>
    <div class="row">
        <input type="text" class="col-md-12 text-center" id="user-answer" placeholder="答え" style="font-size: 44pt">
        <input type="hidden" id="us-id" value="Nothing!">
        <button id="check">
    </div>
    <div class="row">
        <button id="button-reading" class="btn-default btn-lg  col-md-6" disabled="disabled">Show Phonetic</button>
        <button id="button-character" class="btn-default btn-lg  col-md-6" disabled="disabled">Show Kanji</button>
    </div>
    <div class="row">
        <div id="details-reading" class="jumbotron col-md-6">
            <p id="kana" class="text-center" style="font-size: 44pt">Placeholder!</p>
        </div>
        <div id="details-character" class="jumbotron col-md-6">
            <p id="character" class="text-center" style="font-size: 44pt">Placeholder Kanji</p>
        </div>

    </div>

</div>



<script>
    var vocabulary_list = [
        {% for item in object_list %}
        {
            'user_specific_id':'{{ item.id }}',
            'meaning':'{{ item.vocabulary.meaning }}',
            'readings':  [{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.kana }}',{% endif %}{% endfor %}],
            'characters':[{% for reading in item.vocabulary.reading_set.all %}{% if reading.level <= user.profile.level %}'{{ reading.character }}',{% endif %}{% endfor %}],
        },
        {% endfor %}
    ];
    console.log(vocabulary_list)
    var current_vocab;
    $("#reviews-left").html(vocabulary_list.length)
    current_vocab = vocabulary_list.shift();
    console.log(current_vocab.meaning)
    $("#details-character").hide();
    $("#details-reading").hide();
    $("#meaning").html(current_vocab.meaning);
    $("#us-id").val(current_vocab.user_specific_id);
    $("#kana").html(current_vocab.readings);
    $("#character").html(current_vocab.characters);


</script>
{% endblock %}
