{% extends "kw_webapp/logged_in.html" %}
{% load staticfiles %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/unlocklevels.js" %}"></script>

{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
            {% for level in levels %}
                    {% if level.0 > user.profile.level %}
                        <li class="list-group-item list-group-item-danger text-center">Level {{ level.0 }} Locked</li>
                    {% elif level.1 == True %}
                        <li class="list-group-item list-group-item-success text-center">Level {{ level.0 }} Unlocked</li>
                    {% elif level.1 == False %}
                        <a href="#" class="list-group-item list-group-item-warning text-center locked" id="{{ level.0 }}">Level {{ level.0 }} Unlockable</a>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

<form>
    <input type="hidden" id="csrf" value="{{ csrf_token }}"></input>
</form>

{% endblock %}