{% extends "kw_webapp/logged_in.html" %}
{% block title %}| Vocabulary{% endblock %}

{% block content %}
{{ block.super }}
<input type="hidden" id="csrf" value="{{ csrf_token }}"></input>

<section class="levels-section">
  <div class="inner">
    <h1 class="section-heading">
      Vocabulary
    </h1>

    <ul class="level-list">
      {% for level in levels %}
        {% if level.0 > user.profile.level %}
          <li class="level-card -locked" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link -hidden" title="View vocab" href="{% url "kw:vocab_level" level.0 %}"></a>
              <span class="icon i-lock" title="Locked"></span>
            </div>
          </li>
        {% elif level.1 == True %}
          <li class="level-card -unlocked" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link" title="View vocab" href="{% url "kw:vocab_level" level.0 %}" ></a>
              <span class="icon i-unlocked" title="Relock"></span>
            </div>
          </li>
        {% elif level.1 == False %}
        <li class="level-card -locked -unlockable" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link -hidden" title="View vocab" href="{% url "kw:vocab_level" level.0 %}"></a>
              <span class="icon i-unlock" title="Unlock"></span>
            </div>
          </li>
        {% endif %}
      {% endfor %}
      </ul>

      <ul class="level-list">
        {% for srs_level in srs_level_names %}
        <li class="level-card -srs -{{srs_level}}">
          <a class="wrap" href="{% url 'kw:vocab_level' srs_level %}">
            <span class="levelnum">KW: {{ srs_level | capfirst }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>
</section>

</div>
<!-- / .site-content -->
{% include 'partials/site-footer.html' %}

{% endblock %}
