{% extends "kw_webapp/logged_in.html" %}
{% block title %}| Vocabulary{% endblock %}

{% block content %}
{{ block.super }}
<input type="hidden" id="csrf" value="{{ csrf_token }}"></input>

<section class="levels-section">
  <div class="inner">
    <h1 class="section-heading">
      Vocabulary
    </h1>

    <ul class="level-list">
      {% for level in levels %}
        {% if level.0 > user.profile.level %}
          <li class="level-card -locked" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link -hidden" title="View vocab" href="{% url "kw:vocab_level" level.0 %}"></a>
              <span class="icon i-lock"></span>
            </div>
          </li>
        {% elif level.1 == True %}
          <li class="level-card -unlocked" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link" title="View vocab" href="{% url "kw:vocab_level" level.0 %}" ></a>
              <span class="icon i-unlocked" title="Relock"></span>
            </div>
          </li>
        {% elif level.1 == False %}
        <li class="level-card -locked -unlockable" data-level-id="{{ level.0 }}">
            <div class="wrap">
              <span class="levelnum">{{ level.0 }}</span>
              <a class="icon i-link -hidden" title="View vocab" href="{% url "kw:vocab_level" level.0 %}"></a>
              <span class="icon i-unlock"></span>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>
</section>

{% endblock %}
