amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
contextlib2==0.5.1
cookies==2.2.1
Django==1.9.5
django-async-messages==0.3.1
django-contact-form==1.2
django-crispy-forms==1.6.0
django-filter==0.13.0
django-lineage==0.2.0
django-redis-cache==1.6.5
djangorestframework==3.3.3
gunicorn==19.4.5
kombu==3.0.35
Markdown==2.6.6
newrelic==2.62.0.47
pytz==2016.3
raven==5.12.0
redis==2.10.5
requests==2.9.1
responses==0.5.1
simplejson==3.8.2
six==1.10.0
