amqp==2.1.4
anyjson==0.3.3
Babel==2.3.4
backports-abc==0.5
billiard==3.5.0.2
celery==4.0.0
certifi==2017.4.17
chardet==3.0.3
colorama==0.3.7
contextlib2==0.5.4
cookies==2.2.1
coreapi==2.3.1
coreschema==0.0.4
decorator==4.0.10
Django==1.11.1
django-celery-beat==1.0.1
django-contact-form==1.3
django-cors-middleware==1.3.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-extensions==1.7.5
django-filter==1.0.4
django-guardian==1.4.8
django-lineage==0.2.0
django-redis-cache==1.7.1
djangorestframework==3.6.3
djangorestframework-jwt==1.10.0
djoser==0.5.4
flower==0.9.1
gunicorn==19.6.0
httpie==0.9.6
idna==2.5
itypes==1.1.0
Jinja2==2.9.6
kombu==4.0.0
Markdown==2.6.7
MarkupSafe==1.0
newrelic==2.74.0.54
psutil==5.0.1
pydotplus==2.0.2
Pygments==2.1.3
PyJWT==1.5.0
pyparsing==2.2.0
pytz==2017.2
raven==5.32.0
redis==2.10.5
requests==2.12.1
responses==0.5.1
simplejson==3.10.0
six==1.10.0
sqlparse==0.2.3
thefuck==3.14
tornado==4.4.2
uritemplate==3.0.0
urllib3==1.21.1
vine==1.1.3
wheel==0.24.0
