.primary-nav {
  float: right;
  line-height: 9rem;
}

.primary-nav__list {
  margin: 0;
  padding: 0;
}

.primary-nav__item {
  @include transition(background-color .25s ease);
  display: table-cell;

  &.primary-nav__item--active {
    background: #333;

    .primary-nav__link {
      color: #ededed;
    }
  }
}

.primary-nav__link {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  padding: 0 10px;

  @include breakpoint(max-width 800px) {
    span:last-child {
      display: none;
    }
  }

  @include breakpoint(max-width 670px) {
    span:first-child {
      display: none;
    }

    span:last-child {
      display: block;
    }
  }

  @include breakpoint(900px) {
    padding: 0 20px;
  }

  .fa {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
  }
}

.primary-nav__reviews-num {
  display: inline-block;
  font-family: $roboto-slab-bold;
  margin-left: 2px;
}