.about-section {

  .row {
    @include clearfix;
  }


  .col {
    .title {
      margin-top: .8em;
    }

    @include media($bp-sm) {
      &.-half,
      &.-third {
        lost-column: 1/2;
      }
    }

    @include media($bp-md) {
      &.-third {
        lost-column: 1/3;
      }
    }
  }
}
