.about-section {

  .donate-block {
    @include container(30em);
    text-align: center;
    margin: $unit-sm auto;
    padding: $unit-sm 0;

    @include media($bp-lg) {
      margin-top: $unit-md;
      margin-bottom: $unit-md;
    }
    .text {
      margin-left: auto;
      margin-right: auto;
      padding: $unit-xs 0;
      line-height: 1.5;
    }
  }

  .row {
    @include clearfix;
  }

  .col {
    .title {
      margin-top: .8em;
    }

    @include media($bp-sm) {
      &.-half,
      &.-third {
        lost-column: 1/2;
      }
    }

    @include media($bp-md) {
      &.-third {
        lost-column: 1/3;
      }
    }

    @include media($bp-lg) {
      &.-half {
        lost-column: 1/2 2 40px;
      }
      &.-third {
        lost-column: 1/3 3 40px;
      }
    }
  }
}
