.announcements-section {
  // should match user-details.scss
  $bp-user-details: '>=650px';
  text-align: left;

  @include media($bp-user-details) {
    text-align: center;

    .accordion-container .content {
      // p is constrained to 700px - keep centered/line length nicer
      @include container(700px);
    }
  }

}
