.sent-bg {
  $kiki-black: #1A1029;
  position: relative;
  width: 100%;
  height: 100%;
  background: image('sent.png') 10% 20% no-repeat fixed;
  background-color: $kiki-black;

  > .text {
    font-size: responsive 30px 60px;
    float: right;
    text-align: right;
    color: $white;
    margin: .75em 1em;
    line-height: 1;
  }
}
