.settings-section {

  > .inner {
    input[type="text"] {
      min-width: 280px;
      @include media($bp-lg) {
        min-width: 600px;
      }
    }

    input[type="submit"] {
      margin-top: 10px;
      background-color: $blue-light;
    }

    input[type="checkbox"] {
      display: inline-block;
      margin: 10px 10px 0 0;
      height: 15px;
      width: 15px;
    }

    input[type="submit"] {
      background-color: $blue-light;
      color: $white;
      transition: all .2s ease-out;

      &:focus,
      &:active {
        background-color: $blue;
      }

      &:hover {
        background-color: $blue-dark;
      }
    }
  }

}


