.site-footer {
  background-color: $black;
  color: $white;
  padding-top: $unit-xs;
  padding-bottom: $unit-xs;

  > .inner {
    @include container($site-max-width);
    padding-left: $unit-sm;
    padding-right: $unit-sm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	}
}

