.site-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > .site-logo {
    margin: 5px;
    flex-shrink: 0;
    align-self: flex-start;
    @include media($bp-nav-1) {
      align-self: center;
    }
  }

  > .site-nav {
    align-self: flex-start;
    font-size: 14px;

    @include media($bp-nav-1) {
      align-self: center;
    }

    @include media($bp-nav-2) {
      font-size: 16px;
    }
  }
}
