.site-header {
  background: $white;
  box-shadow: $shadow-bottom-light;

  > .inner {
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .site-logo {
      display: block;
      flex-shrink: 0;
      width: 60px;
      margin-top: 4px;
      height: auto;

      @include media($bp-md) {
        width: 75px;
        margin-top: 3px;
        margin-bottom: -2px;
      }

      @include media($bp-lg) {
        width: 85px;
        margin-top: 3px;
        margin-bottom: -2px;
      }
    }
  }
}
