.srs-dashboard {
  @include constrainer(800px);
  background: rgba($black, .6);
  text-align: center;
  font-size: 0;

  .list {
    @include plainlist;

    .item {
      @extend %h4;
      vertical-align: middle;
      display: inline-block;
      transition: all .3s ease-out;
      min-width: 65px;

      @include media($bp-md) {
        min-width: 115px;
      }

      &:hover {
        opacity: 1;

        &.-apprentice .icon {
          color: mix($white, $pink, 55%);
        }

        &.-guru .icon {
          color: mix($white, $purple, 55%);
        }

        &.-master .icon {
          color: mix($white, $blue-dark, 55%);
        }

        &.-enlightened .icon {
          color: mix($white, $blue-light, 55%);
        }

        &.-burned .icon {
          color: mix($white, $black-light, 55%);
        }
      }

      .link {
        display: inline-block;
        width: 100%;
        padding: 0 .4em .75em;
      }

      // .title,
      .count {
        display: block;
        vertical-align: middle;
        font-weight: 600;
        line-height: 1.3;
        margin: 0 auto;
        color: $white;
        font-size: 16px;
        font-size: responsive 13px 20px;
        font-range: 400px 1400px;
        text-shadow: $shadow-text-thin;

        @include media($bp-md) {
          display: inline-block;
          line-height: 1;
        }
      }

      .icon {
        text-shadow: $shadow-text-thin;
        transition: color .2s ease-out;
        color: $white;
        font-size: responsive 26px 32px;
        font-range: 400px 1000px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        line-height: 1.3;

        @include media($bp-md) {
          margin-right: 3px;
          line-height: .9;
        }
      }
    }
  }
}
