.summary-section {

  > .inner {
    text-align: center;

    .section-heading {
      position: relative;
      color: $black-light;
    }

    > .title {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .percentage-bar {
    	@include bg-gradient($red, right);
    	@include container(80%);
    	height: 1.4rem;
    	border-radius: 2px;
    	.percentage {
	    	@include bg-gradient($green, left);
    		display: block;
    		height: 100%;
    	}
    }

    .vocab-list.-incorrect .vocab-card:only-child {
      flex: 0 1 50%;
    }
  }
}
