.summary-section {
  > .inner {
    .section-heading {
       text-align: center;
       position: relative;
       &:after {
        content: '';
        position: absolute;
        bottom: -.2em;
        left: 20%;
        width: 60%;
        height: 2px;
        background-color: rgba($black-light, .2);
       }

    }
  }
}
