$accordion-list-bg-color: $grey-dark;
$accordion-border: 2px solid $grey-light;

.accordion-list {
	border: $accordion-border;
	border-radius: 4px;
	dd + dt {
  	border-top: $accordion-border;
	}
}

.accordion-title {
  @extend %h4;
	display: block;
  background-color: $accordion-list-bg-color;
  text-decoration: none;
  color: $white-light;
  transition: background-color .3s ease-in-out;
	text-align: center;
	padding: .6em 1em;

  &:hover {
    background-color: darken($accordion-list-bg-color, 10%);
  }

  &.is-expanded {
    background-color: darken($accordion-list-bg-color, 15%);
  }
}

.accordion-content {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height .6s;
  background-color: $white-light;

  @include media($bp-md) {
    max-height: 15em;
    transition: max-height .4s
  }

  &.is-collapsed {
    max-height: 0;
  }

  .content-inner {
		@include container(800px);
		padding: $unit-sm $unit-md $unit-md;
		@include media($bp-md) {
			padding: $unit-md $unit-lg $unit-lg;
		}

		h1, h2, h3, h4 {
			margin-top: 0;
		}

		ul {
			padding-left: 1.5em;
		}

		li {
			margin-bottom: .4em;
		}
	}
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
     transform: scale(0.9) rotateX(-60deg);
  }
}
