.accordion-list {
  @extend %plainlist;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  > .item {
    flex: 1 1 100%;
    > .accordion-container {
      .wrap {
        padding: 0 $unit-md;
      }
    }
  }

}
