.floating-icons {
  @extend %plainlist;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;

  > .icon {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    bottom: -160px;
    opacity: .46;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-child(1){
      left: calc(50% - 140px);
      bottom: -220px;
      width: 280px;
      height: 280px;
      opacity: .1;

      animation-name: rotate-left-slow;
      animation-timing-function: ease-out;
      animation-duration: 54s;
    }

    &:nth-child(2){
      left: 12%;
      width: 85px;
      height: 85px;
      opacity: .74;

      animation-name: rotate-right;
      animation-delay: 2s;
      animation-duration: 21s;
    }

    &:nth-child(3){
      left: 91%;
      width: 52px;
      height: 52px;
      opacity: .85;

      animation-name: rotate-left;
      animation-duration: 14s;
      animation-timing-function: ease-out;
    }

    &:nth-child(4){
      left: 24%;
      width: 66px;
      height: 66px;
      opacity: .68;

      animation-name: float-up-left;
      animation-duration: 11s;
      animation-delay: 5s;
    }

    &:nth-child(5){
      left: 37%;
      height: 35px;
      width: 35px;
      opacity: .63;

      animation-name: float-up-right;
      animation-timing-function: ease-in-out;
      animation-delay: 6s;

    }

    &:nth-child(6){
      left: 42%;
      width: 72px;
      height: 72px;
      opacity: .49;

      animation-name: rotate-right-slow;
      animation-duration: 22s;
    }

    &:nth-child(7){
      left: 56%;
      width: 114px;
      height: 114px;
      opacity: .42;

      animation-name: float-up-right;
      animation-delay: 5s;
      animation-duration: 47s;
    }

    &:nth-child(8){
      left: 63%;
      width: 20px;
      height: 20px;
      opacity: .72;

      animation-name: float-up-left;
      animation-delay: 4s;
      animation-timing-function: linear;
    }

    &:nth-child(9){
      left: 76%;
      width: 44px;
      height: 44px;
      opacity: .69;

      animation-name: float-up;
      animation-duration: 19s;
    }

    &:nth-child(10){
      left: 81%;
      width: 110px;
      height: 110px;
      opacity: .47;

      animation-name: rotate-right-slow;
      animation-duration: 43s;
      animation-timing-function: ease-in;
    }

    &:nth-child(11){
      left: 26%;
      width: 134px;
      height: 134px;
      opacity: .32;

      animation-name: float-up;
      animation-delay: 14s;
      animation-duration: 31s;
    }

    &:nth-child(12){
      left: 69%;
      width: 86px;
      height: 86px;
      opacity: .71;

      animation-name: float-up-right;
      animation-timing-function: ease-in;
      animation-duration: 24s;
    }

    &:nth-child(13){
      left: 4%;
      width: 66px;
      height: 66px;
      animation-delay: 8s;
      animation-name: float-up-right;
    }
  }

  .icon-turtle {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center image('turtle.png');
    background-size: cover;
  }
}
