.floating-icons {
  @extend %plainlist;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;

  > .icon {
    position: absolute;
    display: block;
    list-style: none;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    backface-visibility: hidden;
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg);

    @for $i from 1 through 6 {
      $M: random(5) + .25; // multiplier
      &:nth-child(#{$i}) {
         @include turtle-animation(
          $i: $i, // animation name suffix
          $imgSize: #{35 * $M}, // px
          $opacity: (random(45) + 20) / 100,
          $duration: (random(20) * $M) + 8, // seconds
          $delay: $i / 2, // seconds
          $rotate: random(20) + (3 * $M), // deg
          $drift: random(6) * $M // vw
        );
      }
    }

    // a few bigger turtles
    @for $i from 6 through 9 {
      $M: #{random(2) + 1.5}; // multiplier
      &:nth-child(#{$i}) {
         @include turtle-animation(
          $i: $i, // animation name suffix
          $imgSize: #{80 * $M}, // px
          $opacity: (random(20) + 20) / 100,
          $duration: (random(30) * $M + 15), // seconds
          $delay: random(20), // seconds
          $rotate: random(30 * $M) + 5, // deg
          $drift: random(6 * $M) + 2 // vw
        );
      }
    }

    @include media('<768px') {
      // hide all but first 4
      &:nth-child(n+5) {
        display: none;
      }
    }

    .icon-turtle {
      display: block;
      width: 100%;
      height: 100%;
      background: no-repeat center image('turtle.png');
      background-size: cover;
    }
  }
}
