.lattice-list {
  @include plainlist;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  > .item {
    display: block;
    margin: 0 .33em .33em 0;
    background: $purple;
    transition: all .2s ease-out;
    border-radius: 2px;
  }

  > .item > .link {
    display: block;
    padding: .15em .5em;
    color: $white;
    font-size: 1.8em;
    text-shadow: 1px 1px 4px rgba($purple-dark, .7);
  }

  &.-correct > .item {
    background: $green;
    > .link{
     text-shadow: 1px 1px 4px rgba(darken($green, 20), .7);
    }
  }

  &.-incorrect > .item {
    background: $red;
    > .link {
      text-shadow: 1px 1px 4px rgba(darken($red, 20), .7);
    }
  }
}
