.lattice-list {
  @include plainlist;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  > .item {
    display: block;
    margin: 0 .33em .33em 0;
    background: $purple;
    transition: all .2s ease-out;
    border-radius: 2px;
  }

  > .item > .link {
    display: block;
    padding: .1em .5em .15em;
    color: $white;
    font-size: 1.8em;
    text-shadow: 1px 1px 4px rgba($purple-dark, .7);

    &.-multiline[data-hint]:after {
      text-align: center;
    }
  }

  &.-correct > .item {
    background: $green;

    > .link {
      text-shadow: 1px 1px 4px rgba(darken($green, 20), .7);
    }
  }

  &.-incorrect > .item {
    background: $red;
    flex: 1 1 auto;

    > .link {
      text-align: center;
      padding: .25em .4em;
      font-size: 2em;
      text-shadow: 1px 1px 4px rgba(darken($red, 20), .7);

      .en {
        font-weight: 600;
        font-size: .5em;
        padding-bottom: .4em;
      }
    }
  }
}
