.level-list {
  @extend %plainlist;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  @include media($bp-xl) {
    @include container($site-max-width);
  }

  > .level-card {
    display: inline-block;
    flex: 1 0 150px;
    min-width: 150px;
    z-index: 2;
    margin: 0 $unit-xs/2 $unit-xs;
  }
}
