$bp-level-card-1: "<500px";
$bp-level-card-1-2: ">=500px","<680px";
$bp-level-card-2: ">=680px";

.level-card {
  position: relative;
  border-radius: 3px;
  display: block;

  > .wrap {
    display: block;
    border-radius: 3px;
    color: $white-light;
    transition: background-color .6s ease-in-out;
    overflow: hidden;
    font-size: responsive 24px 30px;
    min-height: 4em;
    @include bg-gradient($purple, bottom, 3%);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($purple-dark, .7);
      margin: -6px 0 26px;
      position: absolute;
      left: 20px;
      top: 15px;
    }

    > .icon {
      @include tap-target(5px, 10px);
      position: absolute;
      font-size: 22px;
      left: calc(100% - 32px);
      bottom: 12px;
      transition: color .3s ease-in-out;

      &.i-lock {
        color: $black;
        font-size: 25px;
        line-height: 22px;
      }

      &.i-link {
        left: 22px;
        bottom: 10px;
        color: $white-light;
        font-size: .85em;

        &:hover {
          color: $white-dark;
          cursor: pointer;
        }
      }

      &.-loading {
        width: 1em;
        height: 1em;
        left: calc(100% - 36px);
        bottom: 15px;
      }
    }
  }

  &.-locked {
    > .wrap {
      @include bg-stripes;
      transition: background-color .6s ease-in-out;
      background-color: $purple-dark;
    }

    .levelnum {
      color: $white-dark;
    }

    .i-lock:hover {
      cursor: not-allowed;
    }
  }

  &.-unlockable {
    .i-unlock {
      color: $grey-light;
    }

    .levelnum {
      color: $white;
    }

    > .wrap:hover {

      .i-unlock {
        cursor: pointer;
        color: lighten($grey-light, 10%);
        animation: wobble 1.25s infinite cubic-bezier(.55, .45, .55, .45);

        &:hover {
          color: $white;
        }
      }
    }

  }

  &.-unlocked {

    .i-unlocked:hover {
      color: $white-dark;
      cursor: pointer;
    }
  }

  &.-srs {
    transition: opacity .3s ease-out;

    &:hover {
      opacity: .9;
    }

    > .wrap {
      font-size: responsive 16px 22px;
      font-weight: 600;

      > .levelnum {
        margin: 0;
      }
    }
  }

  &.-apprentice > .wrap {
    @include bg-gradient($pink);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($pink, .7);
    }
  }

  &.-guru > .wrap {
    @include bg-gradient($purple);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($purple, .7);
    }
  }

  &.-master > .wrap {
    @include bg-gradient($blue-dark);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($blue-dark, .7);
    }
  }

  &.-enlightened > .wrap {
    @include bg-gradient($blue-light);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($blue-light, .7);
    }
  }

  &.-burned > .wrap {
    @include bg-gradient($black-light);

    > .levelnum {
      text-shadow: 1px 2px 2px rgba($black-light, .7);
    }
  }
}
