.level-list {
  @extend %plainlist;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include media($bp-xl) {
    @include container($site-max-width);
  }

  > .level-card {
    flex: 1 1 150px;
    z-index: 2;
    margin: 0 $unit-xs/2 $unit-xs;
  }
}
