.login-form {
	$login-grey: #e5e5e5;
	$login-red: #E05D4F;
	$border-radius: 10px;

  position: relative;
  padding: 0;
  z-index: 2;

  .alert > ul {
    @extend %plainlist;
    background: rgba($pink, .9);
    padding: $unit-xs $unit-sm;
    margin-bottom: $unit-sm;
    border-radius: $border-radius;
    font-weight: 600;
  }

  input {
    @include placeholderColor($grey-light);
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: $black-light !important;
  }

  input:not([type="submit"]) {
    -webkit-appearance: none;
    display: block;
    min-width: 270px;
    padding: .6em 1em;
    margin: 0 auto;
    outline: 0;
    border: 2px solid $login-grey;
    border-radius: $border-radius;
    color: $grey-dark;
    background-color: $white;
    line-height: 1;
    text-align: left;

    font-size: responsive 14px 17px;
    transition: background-color .3s ease-out;

    &:focus {
      background-color: $white-light;
    }
  }

  .button[type="submit"],
  .button[type="submit"].-submit {
  	margin: 20px auto 4px;
  	background-color: $login-red;
    min-width: 220px;
    color: $white;
    border-radius: $border-radius;
    &:focus {
    	min-width: 228px;
    }
  }
}
