.mobile-menu {
  position: fixed;
  width: 180px;
  height: 100%;
  top: 62px;
  z-index: 2;
  right: -180px;
  transition: right 400ms cubic-bezier(0.55, 0, 0.1, 1);

  .item.-mobileonly {
    background: $white;
    border-bottom: 1px solid rgba($white-dark, .5);

    &:last-of-type {
      border-bottom: 1px solid transparent;
      border-bottom-left-radius: 10px;
      box-shadow: 0 3px 6px rgba($black, .2);
    }

    .nav-link {
      padding: .8rem 1rem .7rem;
    }
  }
}

.js-mobilemenu-open .mobile-menu {
  right: 0;

  // in case user changes orientation, hide because normal menu visible
  @include media($bp-md) {
    right: -180px;
  }
}
