.mobile-menu {
  position: absolute;
  width: 180px;
  background: $white;
  height: auto;
  top: 62px;
  z-index: 2;
  right: -180px;
  transition: right 400ms cubic-bezier(0.55, 0, 0.1, 1);
  border-bottom-left-radius: 10px;

  .item.-mobileonly {
    border-bottom: 1px solid rgba($white-dark, .75);

    &:last-of-type {
      border-bottom: 1px solid transparent;
      box-shadow: 0 3px 6px rgba($black, .2);
    }

    .nav-link {
      padding: .7rem 1rem .6rem;
    }
  }
}

.js-mobilemenu-open .mobile-menu {
  // avoid potential subpixel gap >_<
  right: -1px;

  // in case user changes orientation, hide because normal menu visible
  @include media('>' + $bp-nav) {
    right: -180px;
  }
}
