.nav-list {
  $bp-nav: '<680px'; // also in mobile-menu.scss
  @include plainlist;

  .item {
    display: inline-block;

    .nav-link {
      padding: 8px 16px;

      &:focus .text:after {
        opacity: 1;
        width: 100%;
      }
    }

    &:hover,
    &.-active {
      > .nav-link .text:after {
        // underline nav-link text
        opacity: 1;
        width: 100%;
      }
    }

    &.-disabled {
      pointer-events: none; // modern & IE11+
    }
  }

  &.-vertical .item {
    display: block;
  }

  @include media($bp-nav) {
    .item:not(.-mobileonly) {
      display: none;
    }
  }
}
