.nav-list {
  @include plainlist;

  .item {
    .nav-link {
      padding: 8px 16px;
    }

    &:hover,
    &.-active {
      > .nav-link .text:after {
        // underline nav-link text
        opacity: 1;
        width: 100%;
      }
    }

    &.-disabled {
      pointer-events: none; // modern & IE11+
    }
  }
}
