.nav-list {
  @extend %plainlist;
  display: flex;
  max-height: auto;
  flex-wrap: wrap;
  text-align: right;
  justify-content: flex-end;

  @include media($bp-nav-1) {
    text-align: center;
  }

  @include media($bp-nav-2) {
    justify-content: center;
  }

  > .item {
    padding: 8px 16px;
    flex: 1 1 100%;

    @include media($bp-nav-1) {
      flex: 0 1 auto;
    }

    &:hover,
    &.-active {
      > .nav-link .text:after {
        // underline nav-link text
        transform: translate3d(0,0,0);
      }
    }
  }
}

// ugghh IE fix your flexbox >_<
@media all and (-ms-high-contrast:none) {
  // .nav-list > .item { height: 45px; width: 110px; } /* IE10 */
  // *::-ms-backdrop, .nav-list > .item {height: 45px; width: 110px; } /* IE11 */
}
