.nav-list {
  @extend %plainlist;
  display: flex;
  max-height: auto;
  flex-wrap: wrap;
  text-align: right;
  justify-content: flex-end;

  @include media($bp-nav-1) {
    text-align: center;
  }

  @include media($bp-nav-1) {
    display: flex;
  }

  @include media($bp-nav-2) {
    justify-content: center;
  }

  > .item {
    padding: 8px 16px;
    flex: 1 1 100%;

    &:hover,
    &.-active {
      > .nav-link .text:after {
        // underline nav-link text
        transform: translate3d(0,0,0);
      }
    }

    @include media($bp-nav-1) {
      flex: 0 0 150px;
    }

    @include media($bp-nav-2) {
      flex: 1 1 auto;
    }
  }
}
