.review-quiz {
  display: table;
  padding: 0;
  width: 100%;
  height: 100%;

  .upper,
  .lower {
    display: table-row;
    width: 100%;
  }

  .upper {
    background-image: linear-gradient(to bottom, $purple-light, $purple);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFAA00FF, endColorstr=#FF9300DD, GradientType=0);
    color: $white;
    text-align: center;
    height: auto;
    height: 45vh;
    @include media($bp-xxl) {
      height: 40vh;
    }
  }

  .meaning {
    color: $white;
    text-shadow: 1px 2px 4px $purple-dark;
    padding: 1em $unit-sm;
    display: table-cell;
    font-size: responsive 24px 50px;
    font-range: 300px 2000px;
    vertical-align: middle;
    line-height: 1.3;
    letter-spacing: -1px;
    @include media($bp-lg) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .lower {

    fieldset {
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
      outline: none;
      appearance: none;
    }

    .answer {
      display: block;
      width: 100%;
      outline: none;
      border: 0;
      margin: 0;
      padding: .5em 0;
      background-color: $white-light;
      box-shadow: $shadow-inner-medium;
      font-size: responsive 24px 50px;
      font-range: 300px 2000px;
      line-height: 1;
      text-align: center;
      transition: all .1s ease-out;

      &.-marked {
        color: $white;
        text-shadow: $shadow-text-thin;
        + .submit > .icon {
          color: $white;
          text-shadow: $shadow-text-thin;
        }

        &::-webkit-input-placeholder { color: $white; }
        &::-moz-placeholder { color: $white;  }
        &:-ms-input-placeholder { color: $white; }
        &:placeholder-shown { color: $white; }

      }

      &.-invalid {
        background-color: $yellow;
        color: $grey-dark;
        text-shadow: none;
        + .submit > .icon {
          color: $grey-dark;
          text-shadow: none;
        }
      }

      &.-incorrect {
        background-color: $red;
      }

      &.-correct {
        background-color: $green;
      }

    }

    .submit {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
      right: 0;
      bottom: 0;
      padding: 0 .75em;
      appearance: none;
      background: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;

      > .icon {
        font-size: responsive 20px 36px;
        font-range: 300px 1600px;
        line-height: 0;
        color: $grey-dark;
      }
    }
  }
}
