.review-header {

  > .inner {

    > progress.progressbar {
      position: absolute;
      transition: background-color .4s ease-out;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $purple;
      color: $white;
      border: none;
      opacity: .9;

      &::-webkit-progress-bar{ background-color: $white-light !important; }
      &::-moz-progress-bar { background-color: $white-light !important; }
      &::ms-fill { background-color: $white-light !important; }
      &::-webkit-progress-value { background-color: $white-light !important; }
    }

    > .homelink,
    > .statslist {
      margin: .75em;
    }

    > .statslist {
      @extend %plainlist;
      float: right;
      font-size: responsive 16px 20px;

      > .item {
        display: inline-block;
        margin-left: 1em;

        span + span {
          margin-left: 6px;
        }
      }
    }

    > .homelink {
      opacity: .8;
      display: block;
      float: left;
      font-size: responsive 16px 20px;
      transition: opacity .3s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

