$bp-reviews-1: '<670px', 'landscape';
$bp-reviews-2: '>=670px';


.review-quiz {
  display: table;
  padding: 0;
  width: 100%;
  height: 100%;
}

.review-upper,
.review-lower {
  display: table-row;
  width: 100%;
}

.review-upper {
  background-image: linear-gradient(to bottom, #a0f, #9300dd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFAA00FF, endColorstr=#FF9300DD, GradientType=0);
  color: $white;
  height: 50vh;
  text-align: center;

  // @include media('portrait') {
  //   height: 35vh;
  // }

  @include media($bp-reviews-1...) {
    height: 60vh;
  }
}

.review__meaning {
  color: $white;
  text-shadow: 2px 4px 0 #9300dd;
  padding: $unit-md $unit-sm $unit-xs;
  display: table-cell;
  font-size: responsive 30px 50px;
  vertical-align: middle;
}

.review-lower {
  height: 49vh;

  // @include media((orientation portrait)) {
  //   height: 65vh;
  // }

  @include media($bp-reviews-1...) {
    height: 40vh;
  }

  fieldset {
    position: relative;
    padding: 0;
    margin: 0;
    outline: none;
    border: 1px solid rgba($grey-light, .3);
  }

  .review__response {
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 20px 0;
    // FIXME: better to have 2-3 set sizes so submit bottom distance can be properly set
    // unless you use similar calc() to responsive formula.
    font-size: responsive 30px 40px;
    text-align: center;
    box-shadow: inset 0 3px 20px -3px rgba(0,0,0,.3);
  }

  .review__submit {
    position: absolute;
    // FIXME: better to have 2-3 set sizes so submit bottom distance can be properly set
    font-size: responsive 20px 30px;
    bottom: .75em;
    right: 20px;
    padding: 0;
    color: $grey-dark;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
