.reviews-dashboard {
	@include section-gutters;
	@include section-spacing;
	text-align: center;

	.next-review {
		margin: $unit-md auto;
	}

	ul {
    @include clearfix;
		@extend %plainlist;
		li {
			lost-column: 1/3 0 0;
			&:not(:last-child) {
				border-right: 1px solid $white-dark;
			}
			span {
				display: block;
			}
			.number {
				font-size: 2.5em;
				font-family: $ff-heading;
			}
			.text {
				font-size: .9em;
			}
		}
	}
}
