.section-heading {
  margin-bottom: .5em;
  color: $grey-dark;

  > a {
    color: $black-light;
  }

  > .breadcrumb {
    color: $grey-dark;
    &:before {
      display: inline-block;
      content: ' > ';
      padding: 0 10px;
    }
  }
}
