.section-heading {
  margin-bottom: .5em;
  color: $black-light;

  > span[lang="ja"] {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1.4;
    border-left: .1em solid $black-light;
    padding-left: .2em;
  }

  > a {
    color: rgba($black-light, .95);
    transition: color .3s ease-out;
    &:hover {
      color: rgba($grey-dark, .85);
    }
  }

  > .breadcrumb {
    color: $grey-dark;
    &:before {
      display: inline-block;
      content: ' > ';
      padding: 0 10px;
    }
  }
}
