.site-logo {
  display: inline-block;
  max-width: 120px;
  height: auto;
  color: #30c0f9;
  transition: color .7s ease;

  &:hover {
    transition: color .8s ease-out;
    color: $purple-light;
  }

  svg {
    width: 100%;
    height: 100%;

    .bg {
      color: inherit;
      fill: currentColor;
    }
  }
}
