.sync-loader {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 1s ease-in;
  display: none;

  &.-syncing {
    display: flex;
    background: rgba($black, .7);
    cursor: wait;
    .title {
      opacity: 1;
    }
  }

  .title {
    display: block;
    flex: 1 0 auto;
    z-index: 11;
    margin: 0 auto 1em;
    font-size: 10vw;
    color: $tan;
    opacity: 0;
    user-select: none;
    transition: opacity 1.3s ease-in;

    .letter {
      transform: translateZ(0);
    }

    @for $i from 1 through 7 {
      .letter:nth-child(#{$i}) {
        transition: all .6s ease + ' ' + $i /8 + s;
      }
    }
  }
}
