// should match revealbutton styling
.button.-addsynonym {
  display: block;
  text-align: center;
  border: 1px solid $grey-light;
  min-width: 320px;
  margin: 0 auto;
  padding-top: .75em;
  padding-bottom: .75em;
  border-radius: 0;
  background-color: rgba($grey-dark, .75);
  color: $white;
  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $grey-dark;
  }
}

.synonym-modal {
  .title {
    line-height: 1.2;
    margin: $unit-xs 0 $unit-sm;
    padding-bottom: .5em;
    border-bottom: 2px solid rgba($grey-light, .1);
  }
}

.synonym-form {
  text-align: center;
  margin: $unit-sm auto 0;
  padding: 0 5%;
  @include media($bp-md) {
    margin-top: $unit-lg;
  }
  .wrappinglabel {
    display: flex;
    margin-top: $unit-sm;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include media($bp-lg) {
      margin-top: $unit-md;
    }

    .text {
      text-align: right;
      display: inline-block;
      flex: 1 0 6em;
      padding: 0;
      padding-right: .6em;
    }

    .input {
      appearance: none;
      border: 1px solid rgba($grey-light, .3);
      box-shadow: inset 0 3px 20px -8px rgba(41, 41, 41, 0.25);
      display: inline-block;
      flex: 1 5 auto;
      vertical-align: middle;
      padding: .35em .6em;
      font-size: responsive 16px 30px;
      border-radius: 3px;
    }

    .jisho {
      display: inline-block;
      text-align: left;
      flex: 1 0 auto;
      vertical-align: middle;
      padding: 0 .5em 0 1em;

      .icon {
        transition: color .3s ease-out;
        font-size: responsive 18px 32px;
        &:hover {
          color: darken( $grey-dark, 50% );
        }
      }
    }
  }

  .validation {
    margin-top: $unit-sm;
    padding: 0 1.2em;
    font-style: italic;
    font-size: 1.1em;

    @include media($bp-md) {
      margin-top: $unit-md;
    }

    .i-attention {
      font-size: 1.1em;
      margin-right: 8px;
      color: $tan;
    }
  }

  .button {
    margin: $unit-sm auto;
    text-align: center;
    font-size: inherit;
    @include media($bp-md) {
      margin-top: $unit-md;
      margin-bottom: $unit-md;
    }
  }
}
