$bp-user-details: '>=650px';
.user-details {
  $ud-grey: #ddd;
  display: flex;
  flex-direction: column;
  background: rgba($black, .6);
  color: $white;
  font-family: $ff-heading;
  border-radius: 0 0 3px 3px;
  line-height: 1.3;

  @include media($bp-user-details) {
    flex-direction: row;
  }

  .title {
    margin-top: 0;
    text-shadow: $shadow-text-light;
    color: lighten($ud-grey, 5%);
  }

  strong {
    color: $white;
    font-family: $ff-heading;
    font-weight: normal;
    text-shadow: $shadow-text-thin;
  }

  .wkinfo,
  .userinfo {
    flex: 0 0 100%;
    @include media($bp-user-details) {
      flex: 1;
    }
  }

  .wkinfo {
    padding: $unit-md $unit-sm;

    @include media($bp-user-details) {
      text-align: right;
    }

    @include media($bp-lg) {
      padding: $unit-md;
    }

    .list {
      @extend %plainlist;
    }

    .item {
      color: $ud-grey;
      text-shadow: $shadow-text-thin;
    }
  }


  .userinfo {
    position: relative;
    padding: $unit-md $unit-sm;
    padding-top: 0;

    @include media($bp-user-details) {
      padding-top: $unit-md;
      text-align: left;
    }

    @include media($bp-lg) {
      padding: $unit-md;
      // .list is positioned absolutely at bottom, this allows space for them
      padding-bottom: $unit-md * 2;
    }

    > .text {
      margin: 0;
      text-shadow: $shadow-text-thin;

      @include media($bp-lg) {
        max-width: 600px;
      }
    }

    > .list {
      @extend %plainlist;
      clear: fix;

      @include media($bp-lg) {
        position: absolute;
        margin-top: 0;
        bottom: 25px;
        left: 25px;
      }

      > .item {
        display: inline-block;
        margin-top: 10px;
        margin-right: 15px;
      }
    }

    > .list > .item > .link {
      color: $ud-grey;
      text-shadow: $shadow-text-thin;


      &:hover {
        color: $white;
      }

      .icon {
        color: $white;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
