.user-dashboards {
  position: relative;
  background: rgba($black, .6);

  // triangle
  &:before {
    border-color: transparent transparent $black;
    border-style: none solid solid;
    border-width: 20px;
    opacity: .6;
    content: "";
    height: 0;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 0;
    z-index: 1;
    // anti-alias jagged lines on firefox
    -moz-transform: scale(.9999);
  }
}
