// NOTE: only half-converted from evo's original styling
// naming format etc is a bit inconsistent here

$bp-vocab: '<=600px';

.vocab-card {
  list-style-type: none;
  background: $white-light;
  border-radius: 3px;

  &.-expanded {
    .vocab-lower {
      margin-top: 0;

      *:not(.vocab-lower__toggle) {
        opacity: 1;
      }
    }
  }

  &.-locked > .vocab-upper:before {
    background-image: image('stripes.png');
    content: '';
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &.-unlockable > .vocab-upper:hover {
      background-color: darken($purple, 7%);
      cursor: pointer;
    .fa-unlock-alt {
      animation: wobble 1.25s infinite cubic-bezier(.55, .45, .55, .45);
    }
  }

  &.-locked:not(.-unlockable) > .vocab-upper:hover {
    cursor: not-allowed;
  }

  > .vocab-upper {
    position: relative;
    clear: fix;
    color: $white-light;
    overflow: hidden;
    z-index: 2;
    padding: 18px $unit-sm;
    border-radius: 3px;
    background: $purple;
    box-shadow: 0 4px 14px -4px rgba($black, .25);

    > .fa {
      position: absolute;
      bottom: 0;
      color: #fff;
      left: 5px;
      padding: 10px 15px;
      font-size: 20px;
    }

    > .fa-lock {
      color: $grey-dark;
    }
  }
}

.vocab__kanji {
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
  float: left;
  font-size: 29px;
  margin-top: -6px;
  padding-bottom: $unit-xs;
}

.vocab__kana {
  overflow: hidden;
  padding: 2px 0 12px;
}

.vocab__kana ,
.vocab__meaning {
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  clear: right;
  float: right;
  font-size: 18px;
}

.vocab__meaning {
  // leave space on left for lock icon
  max-width: calc(100% - 50px);
  margin: auto;
  @include media($bp-vocab) {
    max-width: calc(100% - 75px);
  }
}

.vocab__kanji,
.vocab__kana,
.vocab__meaning {
  font-family: $ff-japanese;

  @include media($bp-vocab) {
    display: block;
    float: none;
    text-align: center;
  }
}

// TODO: margin-top hard-coded...
// what if user has loads of synonyms resulting in greater height?
.vocab-lower {
  transition: margin-top .33s ease;
  margin-top: -56px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include media($bp-vocab) {
    margin-top: -99px;
    text-align: center;
  }

  *:not(.vocab-lower__toggle) {
    transition: opacity .33s ease;
    opacity: 0;
  }

  .icon {
    font-size: 36px;
    margin: 25px 0 25px 20px;

    @include media($bp-vocab) {
      margin: 15px 0;
    }
  }
}

.vocab-lower .icon,
.vocab-synonyms {
  display: inline-block;
  vertical-align: middle;
  @include media($bp-vocab) {
    display: block;
  }
}

.vocab-synonyms {
  border-left: 1px solid #c0c0c0;
  font-size: 14px;
  line-height: 36px;
  margin: 25px 0 25px 25px;
  padding-left: 25px;
  max-width: calc(100% - 90px);

  .text {
    vertical-align: middle;
  }

  @include media($bp-vocab) {
    max-width: calc(100% - 10px);
    border-left: 0;
    display: block;
    line-height: 1.5;
    margin: 15px 0;
    padding-left: 0;
  }
}

.vocab-synonyms__list {
  display: inline-block;
  margin: 0;
  padding: 0;

  @include media($bp-vocab) {
    display: block;
  }
}

.vocab-synonyms__item {
  display: inline-block;
  vertical-align: middle;

  &:after {
    content: ', ';
  }

  &:last-child:after {
    content: none;
  }
}

.vocab-lower__toggle {
  @include tap-target(8px, 12px);
  bottom: 0;
  padding: 4px 7px;
  position: absolute;
  right: 0;

  &:hover {
    text-decoration: none;
  }
}
