.vocab-block {
  $bp-vocab: '<=600px';

  list-style-type: none;
  background: $white-light;
  border-radius: 3px;

  > .vocab-base {
    display: block;
    position: relative;
    clear: fix;
    color: $white-light;
    overflow: hidden;
    z-index: 2;
    padding: 18px $unit-sm;
    border-radius: 3px;
    background: $purple;
    box-shadow: 0 4px 14px -4px rgba($black, .25);

    .readingset {
      clear: fix;
      line-height: 1;
      & + .readingset {
        margin-top: $unit-sm;
      }
    }

    .kanji {
      text-shadow: 0 2px 2px rgba($purple-dark, .7);
      float: left;
      font-size: responsive 34px 40px;
      padding-bottom: .5em;
    }

    .kana {
      overflow: hidden;
      padding-bottom: $unit-sm;
      font-size: responsive 24px 30px;
    }

    .kana,
    .meaning {
      text-shadow: 0 1px 2px rgba($purple-dark, .7);
      clear: right;
      float: right;
      font-size: responsive 22px 24px;
    }

    .meaning {
      // leave space on left for kanji/lock icon
      max-width: calc(100% - 150px);
      margin: auto;
      text-align: right;
      line-height: 1.3;
      @include media($bp-vocab) {
        max-width: calc(100% - 75px);
      }
    }

    .kanji,
    .kana,
    .meaning {
      @include media($bp-vocab) {
        display: block;
        float: none;
        text-align: center;
      }
    }
  }
}
