.vocab-card {
  $bp-vocab: '<=600px';

  list-style-type: none;
  background: $white-light;
  border-radius: 3px;

  > .vocab-base {
    position: relative;
    @include bg-gradient($purple-light);
    color: $white-light;
    border-radius: 3px;
    transition: background-color .5s ease-out;

    .readingset {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      flex: 1 0 100%;
      width: 100%;
      padding: $unit-sm;
      @include media($bp-lg) {
        padding: 20px $unit-sm;
      }

      // horizontal separator between readings if more than 1
      &:not(:only-child):not(:last-of-type) {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 5%;
          bottom: -1px;
          width: 90%;
          height: 2px;
          background-color: transparentize($purple-dark, .4);
        }
      }

      > .ja {
        @extend %flexcenter;
        flex-flow: column nowrap;
        flex: 0 1 auto;
      }

      > .meaning {
        @extend %flexcenter;
        flex: 0 1 55%;
        padding: 0 $unit-xs;
        margin: 0; // <dd> has weird margins as default
        text-align: center;
        font-size: responsive 15px 21px;
        line-height: 1.35;
        text-shadow: 1px 1px 1px rgba($purple-dark, .7);
        font-weight: 600;
      }
    }

    .kanji,
    .kana {
      word-break: keep-all;
      padding: 0 $unit-xs;
    }

    .kanji {
      position: relative;
      font-size: responsive 30px 48px;
      text-shadow: 2px 2px 2px rgba($purple-dark, .7);
      padding-bottom: .05em;

      @include media($bp-lg) {
        line-height: 1.25;
      }
      @include media($bp-xl) {
        line-height: 1.3;
      }

      & + .kana:not(:last-child) {
        padding-top: .44em;
        border-top: .2em solid rgba($purple-dark, .3);
      }

      > .i-cancel {
        @include tap-target(10px, 15px);
        position: absolute;
        top: 50%;
        left: -.6em;
        font-size: .4em;
        cursor: pointer;
        transform: translateY(-50%);
        text-shadow: 0 1px 1px ($purple-dark, .7);
        transition: color .2s ease-out;
        &:hover {
          color: lighten($red, 8%);
        }
      }
    }

    .kana {
      line-height: 1.1;
      font-size: responsive 16px 19px;
      text-shadow: 1px 1px 2px rgba($purple-dark, .95);
      &:last-child {
        margin-bottom: .5em;
      }
    }

    > .icon {
      position: absolute;
      bottom: -6px;
      color: $white-light;
      &.-lockstatus {
        font-size: 20px;
        padding: 10px 15px;
        left: calc(100% - 40px);
        cursor: pointer;
      }
      &.-srslevel {
        right: 6px;
        top: 1px;
        bottom: auto;
        font-size: 24px;
        color: $golden;
      }
    }

    > .i-lock {
      color: $black-light;
      cursor: not-allowed;
      font-size: 22px;
    }
  }

  &.-standout {
    box-shadow: 0 4px 10px 0 rgba($purple-dark, .5);
    > .vocab-base {
      @include bg-gradient(adjust-hue($purple, -7%));
    }
  }

   &.-locked > .vocab-base {
    @include bg-stripes;
    background-color: $purple-dark;
    border: 2px solid $purple-dark;
  }

  &.-unlockable > .vocab-base:hover {
    .i-unlock {
      animation: wobble 1.25s infinite cubic-bezier(.55, .45, .55, .45);
    }
  }
}
