.vocab-card {
  $bp-vocab: '<=600px';

  list-style-type: none;
  background: $white-light;
  border-radius: 3px;

  > .vocab-base {
    position: relative;
    background-color: $purple-light;
    color: $white-light;
    border-radius: 3px;
    transition: background-color .5s ease-out;

    .readingset {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      flex: 1 0 100%;
      width: 100%;
      padding: $unit-sm;
      @include media($bp-lg) {
        padding: 20px $unit-sm;
      }

      // horizontal separator between readings if more than 1
      &:not(:only-child):not(:last-of-type) {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 5%;
          bottom: -1px;
          width: 90%;
          height: 2px;
          background-color: transparentize($purple-dark, .7);
        }
      }

      > .ja {
        @extend %flexcenter;
        flex-flow: column nowrap;
        flex: 0 1 auto;
      }

      > .meaning {
        @extend %flexcenter;
        flex: 0 1 55%;
        text-align: center;
        padding: 0 $unit-xs;
        margin: 0;
      }
    }

    .kanji,
    .kana {
      word-break: keep-all;
      padding: 0 $unit-xs;
      line-height: 1.4;
      @include media($bp-lg) {
        line-height: 1.25;
      }
      @include media($bp-xxl) {
        line-height: 1.3;
      }
    }

    .kanji {
      font-size: responsive 28px 45px;
      text-shadow: 0 2px 2px rgba($purple-dark, .7);
    }

    .kana {
      font-size: responsive 18px 20px;
    }

    .meaning {
      font-size: responsive 16px 20px;
      line-height: 1.3;
      text-shadow: 0 1px 2px rgba($purple-dark, .7);
    }

    > .icon {
      position: absolute;
      bottom: -4px;
      color: $white-light;
      left: calc(100% - 42px);
      padding: 10px 15px;
      font-size: 20px;
      cursor: pointer;
    }

    > .i-lock {
      color: $black-light;
      cursor: not-allowed;
      font-size: 22px;
    }
  }

  &.-standout {
    box-shadow: 0 4px 10px 0 rgba($purple-dark, .5);
    > .vocab-base {
      background: $purple-dark;
    }
  }

   &.-locked > .vocab-base {
    @include bg-stripes;
    background-color: $purple-dark;
  }

  &.-unlockable > .vocab-base:hover {
    background-color: mix($purple-dark, $white, 95);

    .i-unlock {
      animation: wobble 1.25s infinite cubic-bezier(.55, .45, .55, .45);
    }
  }
}

