.vocab-list {
  @extend %plainlist;
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  > .vocab-card {
    margin: $unit-xs / 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1 1 auto;

    > .vocab-base {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex: 1 0 100%;
    }
  }

  &.-correct,
  &.-incorrect {
    .vocab-base {
      .readingset {
        color: $white;
      }
    }
  }

  &.-correct {
    .vocab-base {
      background-color: $green;
      .kanji {
        text-shadow: 0 2px 2px rgba(darken($green, 20), .7);
      }
      .kana,
      .meaning {
        text-shadow: 0 1px 2px rgba(darken($green, 20), .7);
      }
    }
  }

  &.-incorrect {
    .vocab-base {
      background-color: $red;
    .kanji {
        text-shadow: 1px 1px 1px rgba(darken($red, 10), .8);
      }
      .kana,
      .meaning {
        text-shadow: 0 1px 2px rgba(darken($red, 10), .8);
      }
    }
  }
}
