.vocab-list {
  @include plainlist;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;

  .vocab-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex: 1 1 auto;
    margin: $unit-xs / 2;

    .vocab-base {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      flex: 1 0 auto;
    }
  }

  &.-correct,
  &.-incorrect {
    .vocab-base .readingset {
      color: $white;
    }
  }

  &.-correct {
    .vocab-base {
      background: $green;

      .kanji {
        text-shadow: 0 2px 2px rgba(darken($green, 20), .7);

        // horizontal separator between readings if more than 1
        & + .kana:not(:last-child) {
          border-color: rgba(darken($green, 20), .4);
        }
      }

      .kana,
      .meaning {
        text-shadow: 0 1px 2px rgba(darken($green, 20), .7);
      }
    }
  }

  &.-incorrect {
    .vocab-base {
      background: $red;

      .kanji {
        text-shadow: 1px 1px 1px rgba(darken($red, 10), .8);

        // horizontal separator between readings if more than 1
        & + .kana:not(:last-child) {
          border-color: rgba(darken($red, 10), .8);
        }
      }

      .kana,
      .meaning {
        text-shadow: 0 1px 2px rgba(darken($red, 10), .8);
      }
    }
  }
}

// ugghh IE fix your flexbox >_<
@media all and (-ms-high-contrast:none) {
  // IE10
  .vocab-list > .vocab-card {
    height: 280px; width: 400px;
  }

  // IE11
  *::-ms-backdrop,
  .vocab-list > .vocab-card {
    height: 280px; width: 400px;
  }
}
