.vocab-extra {
  $bp-vocab: '<=600px';
  position: relative;
  z-index: 1;

  > .icon {
    font-size: 36px;
    margin: 25px 0 25px 20px;

    @include media($bp-vocab) {
      margin: 15px 0;
    }
  }

  > .icon,
  > .synonyms {
    display: inline-block;
    vertical-align: middle;
    @include media($bp-vocab) {
      display: block;
    }
  }

  > .synonyms {
    border-left: 1px solid #c0c0c0;
    font-size: 14px;
    line-height: 36px;
    margin: 25px 0 25px 25px;
    padding-left: 25px;
    max-width: calc(100% - 90px);

    > .text {
      vertical-align: middle;
    }

    @include media($bp-vocab) {
      max-width: calc(100% - 10px);
      border-left: 0;
      display: block;
      line-height: 1.5;
      margin: 15px 0;
      padding-left: 0;
    }

    > .list {
      display: inline-block;
      margin: 0;
      padding: 0;

      @include media($bp-vocab) {
        display: block;
      }
    }

    > .list > .item {
      display: inline-block;
      vertical-align: middle;

      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  > .extratoggle {
    @include tap-target(8px, 12px);
    bottom: 0;
    padding: 4px 7px;
    position: absolute;
    right: 0;

    &:hover {
      text-decoration: none;
    }
  }
}
