.user-overview {
  @extend %sitebackground;
  border-radius: 3px 3px 0 0;
  padding: 20px 20px 40px;
  position: relative;
  text-align: center;

  // triangle
  &:after {
    border-color: transparent transparent #333;
    border-style: none solid solid;
    border-width: 20px;
    bottom: 0;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 0;
    z-index: 1;
  }
}

.user-name {
  text-shadow: $shadow-text-light;
  color: $white;
}

.user-gravatar {
  background: $white;
  border-radius: 100%;
  display: inline-block;
  height: 162px;
  margin: 0 auto;
  padding: 6px;
  position: relative;
  width: 162px;

  &:before {
    box-shadow: inset 3px 3px 8px 0 rgba(0, 0, 0, .26);
    border-radius: 100%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  img {
    border-radius: 100%;
    display: block;
    height: auto;
    width: 100%;
  }
}

.dashboard-reviews {
  margin-top: $unit-md;
}


$user-details-bp: '>=550px';

.user-details {
  display: flex;
  flex-direction: column;
  background: $black-light;
  color: $white;
  font-family: $ff-heading;
  border-radius: 0 0 3px 3px;
  line-height: 1.3;

  @include media($user-details-bp) {
    flex-direction: row;
  }

  .title {
    text-shadow: $shadow-text-light;
    color: $grey;
  }

  strong {
    color: $white;
    font-family: $ff-heading;
    font-weight: normal;
  }
}

.wkinfo, .userinfo {
  flex: 0 0 100%;
  @include media($user-details-bp) {
    flex: 1;
  }
}

.wkinfo {
  padding: $unit-md;

  .list {
    @extend %plainlist;
  }

  .item {
    color: $grey-light;
  }
}


.userinfo {
  padding: $unit-md;
  padding-top: 0;

  @include media($user-details-bp) {
    padding: $unit-md;
  }

  > p {
    margin: 0;
  }

  > .list {
    @extend %plainlist;
    clear: fix;
    margin-top: 10px;
    > .item {
      display: block;
      float: left;
      margin-right: 15px;
    }
  }

  > .list > .item > .link {
    color: $white;
    &:hover {
      color: $grey-light;
    }

    .fa {
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
}
