.header {
  @include box-shadow(1px 1px 8px 0 rgba(0, 0, 0, .26));
  background: #e0e0e0;
  overflow: hidden;
  padding: 0 20px;
}

.logo {
  float: left;
  font-family: $roboto-slab-bold;
  font-size: 2rem;
  line-height: 7rem;
  margin: 10px 0;

  &:hover {
    color: #000;
    text-decoration: none;

    .logo__kanji {
      background: #631a94;
    }

    .logo__text {
      text-decoration: underline;
    }
  }
}

.logo__kanji {
  @include border-radius(100%);
  @include box-shadow(inset 3px 3px 8px 0 rgba(#000, .26));
  @include transition(background-color .25s ease);
  background: #515151;
  display: table-cell;
  font-family: $japanese;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  width: 70px;

  span {
    color: #fff;
    display: block;

    &:first-child {
      font-size: 1rem;
      line-height: 1;

      @include breakpoint(max-width 470px) {
        display: none;
      }
    }

    &:last-child {
      font-size: 2.2rem;
      line-height: 1;
      margin-top: 2px;
    }
  }
}

.logo__text {
  display: table-cell;
  font-size: 2rem;
  line-height: 7rem;
  margin: 10px 0;
  padding-left: 11px;
  vertical-align: middle;

  @include breakpoint(max-width 470px) {
    display: none;
  }
}