.level__list {
  margin: 0;
  padding: 0;
}

.level__item {
  display: block;
  float: left;
  margin: 12px 1.5% 4px;
  position: relative;
  z-index: 2;

  @include breakpoint(max-width 500px) {
    width: 47%;

    &:nth-child(2n-1) {
      margin-left: 0;
    }
  }

  @include breakpoint((min-width 500px) (max-width 679px)) {
    width: 30%;

    &:nth-child(3n-2) {
      margin-left: 0;
    }
  }

  @include breakpoint(min-width 680px) {
    width: 22%;

    &:nth-child(4n-3) {
      margin-left: 0;
    }
  }

  .fa {
    bottom: 8px;
    color: #fff;
    left: 15px;
    padding: 5px;
    position: absolute;
  }
}

.level__link {
  transition: background-color .33s ease;
  background: $purple;
  border-radius: 3px;
  color: #fff;
  display: block;
  overflow: hidden;
  padding: 18px;

  &:hover {
    background: darken($purple, 10%);
    color: #fff;
  }

  .level__item--locked & {
    $colour1: rgba(#fff, .3);
    $colour2: transparent;

    background-image: linear-gradient(-45deg, $colour1 25%, $colour2 25%, $colour2 50%, $colour1 50%, $colour1 75%, $colour2 75%, $colour2);
    background-size: 6px 6px;
    // background-image: url('https://s3.amazonaws.com/s3.wanikani.com/assets/default-v2/stripes-c1de0a7da741b64f40f69665ad61ade0.png');
  }
}

.level__number {
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
  float: left;
  font-size: 2.9rem;
  margin: -6px 0 26px;
}
