.site-nav {
  > .expandToggle {
    display: block;
    text-decoration: none;
    padding: 4px $sm-pad;

    @include media($bp-md) {
      display: none;
    }
  }

  > .nav-list {
    margin: 0;
    padding: 0;
  }
}
