.vocab__list {
  margin: 0;
  padding: 0;
}

.vocab__item {
  background: #fff;
  border-radius: 3px;
  display: block;
  margin: 12px 0 16px;

  &.vocab__item--active {
    .vocab-lower {
      margin-top: 0;

      *:not(.vocab-lower__toggle) {
        opacity: 1;
      }
    }
  }
}

.vocab-upper {
  border-radius: 3px 3px 0 0;
  background: $purple;
  border-bottom: 2px solid #c0c0c0;
  color: #fff;
  overflow: hidden;
  padding: 18px;
  position: relative;
  z-index: 2;

  .vocab__item--locked &:before {
    background-image: url('https://s3.amazonaws.com/s3.wanikani.com/assets/default-v2/stripes-c1de0a7da741b64f40f69665ad61ade0.png');
    content: '';
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .fa {
    bottom: 8px;
    color: #fff;
    left: 15px;
    padding: 5px;
    position: absolute;
  }
}

.vocab__kanji {
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
  float: left;
  font-size: 2.9rem;
  margin-top: -6px;
}

.vocab__reading {
  overflow: hidden;
}

.vocab__kana {
  @include breakpoint(max-width 600px) {
    margin: 16px 0 -4px;
  }
}

.vocab__kana ,
.vocab__meaning {
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  clear: right;
  float: right;
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.vocab__kanji,
.vocab__kana,
.vocab__meaning {
  font-family: $ff-japanese;

  @include breakpoint(max-width 600px) {
    display: block;
    float: none;
    text-align: center;
  }
}

.vocab-lower {
  transition: margin-top .33s ease;
  margin-top: -62px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include breakpoint(max-width 600px) {
    margin-top: -99px;
    text-align: center;
  }

  *:not(.vocab-lower__toggle) {
    transition: opacity .33s ease;
    opacity: 0;
  }

  .icon {
    font-size: 3.6rem;
    margin: 25px 0 25px 20px;

    @include breakpoint(max-width 600px) {
      margin: 15px 0;
    }
  }
}

.vocab-lower .icon,
.vocab-synonyms {
  display: inline-block;
  vertical-align: middle;

  @include breakpoint(max-width 600px) {
    display: block;
  }
}

.vocab-synonyms {
  border-left: 1px solid #c0c0c0;
  font-size: 1.4rem;
  line-height: 3.6rem;
  margin: 25px 0 25px 25px;
  padding-left: 25px;

  @include breakpoint(max-width 600px) {
    border-left: 0;
    display: block;
    line-height: 1.5;
    margin: 15px 0;
    padding-left: 0;
  }
}

.vocab-synonyms__list {
  display: inline-block;
  margin: 0;
  padding: 0;

  @include breakpoint(max-width 600px) {
    display: block;
  }
}

.vocab-synonyms__item {
  display: inline-block;

  &:after {
    content: ', ';
  }

  &:last-child:after {
    content: none;
  }
}

.vocab-lower__toggle {
  bottom: 0;
  padding: 4px 7px;
  position: absolute;
  right: 0;

  &:hover {
    text-decoration: none;
  }
}
