$bp-vocab: '<=600px';

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.vocab__list {
  @include container($site-max-width - 300px);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  @include media($bp-xl) {
    @include container($site-max-width);
    clear: fix;
  }
}

.vocab__item {
  background: $white-light;
  border-radius: 3px;
  display: block;
  margin: 0 0 $unit-sm;

  &:first-child {
    margin-top: $unit-md;
  }

  @include media($bp-xl) {
    width: calc(50% - #{$unit-sm});
    float: left;
    margin-top: $unit-sm;
    margin-bottom: $unit-sm;
    margin-right: $unit-sm * 2;

    &:nth-child(even) {
      margin-right: 0;
    }
    &:first-child {
      margin-top: $unit-sm;
    }
  }

  &.vocab__item--active {
    .vocab-lower {
      margin-top: 0;

      *:not(.vocab-lower__toggle) {
        opacity: 1;
      }
    }
  }
}

.vocab-upper {
  position: relative;
  clear: fix;
  color: $white-light;
  overflow: hidden;
  z-index: 2;
  padding: 18px $unit-sm;
  border-radius: 3px;
  background: $purple;
  box-shadow: 0 4px 14px -4px rgba($black, .25);

  .vocab__item--locked &:before {
    background-image: image('stripes.png');
    content: '';
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .-unlockable &:hover {
    .fa-unlock-alt {
      animation: wobble 1.25s infinite cubic-bezier(.55, .45, .55, .45);
    }
  }

  .fa {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 5px;
    padding: 10px 15px;
    font-size: 20px;
  }
}
.vocab__kanji {
  text-shadow: 0 2px 0 rgba(0, 0, 0, .3);
  float: left;
  font-size: 29px;
  margin-top: -6px;
  padding-bottom: $unit-xs;
}

.vocab__kana {
  overflow: hidden;
  padding: 2px 0 12px;
}

.vocab__kana ,
.vocab__meaning {
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  clear: right;
  float: right;
  font-size: 18px;
}

.vocab__meaning {
  // leave space on left for lock icon
  max-width: calc(100% - 50px);
  margin: auto;
  @include media($bp-vocab) {
    max-width: calc(100% - 75px);
  }
}

.vocab__kanji,
.vocab__kana,
.vocab__meaning {
  font-family: $ff-japanese;

  @include media($bp-vocab) {
    display: block;
    float: none;
    text-align: center;
  }
}

.vocab-lower {
  transition: margin-top .33s ease;
  margin-top: -56px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include media($bp-vocab) {
    margin-top: -99px;
    text-align: center;
  }

  *:not(.vocab-lower__toggle) {
    transition: opacity .33s ease;
    opacity: 0;
  }

  .icon {
    font-size: 36px;
    margin: 25px 0 25px 20px;

    @include media($bp-vocab) {
      margin: 15px 0;
    }
  }
}

.vocab-lower .icon,
.vocab-synonyms {
  display: inline-block;
  vertical-align: middle;
  @include media($bp-vocab) {
    display: block;
  }
}

.vocab-synonyms {
  border-left: 1px solid #c0c0c0;
  font-size: 14px;
  line-height: 36px;
  margin: 25px 0 25px 25px;
  padding-left: 25px;
  max-width: calc(100% - 90px);

  .text {
    vertical-align: middle;
  }

  @include media($bp-vocab) {
    border-left: 0;
    display: block;
    line-height: 1.5;
    margin: 15px 0;
    padding-left: 0;
  }
}

.vocab-synonyms__list {
  display: inline-block;
  margin: 0;
  padding: 0;

  @include media($bp-vocab) {
    display: block;
  }
}

.vocab-synonyms__item {
  display: inline-block;
  vertical-align: middle;

  &:after {
    content: ', ';
  }

  &:last-child:after {
    content: none;
  }
}

.vocab-lower__toggle {
  @include tap-target(8px, 12px);
  bottom: 0;
  padding: 4px 7px;
  position: absolute;
  right: 0;

  &:hover {
    text-decoration: none;
  }
}
