$ff-heading: "Ubuntu", Helvetica, Arial, sans-serif;
$ff-body: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-ja: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
