$ff-heading: "Ubuntu", Helvetica, Arial, sans-serif;
$ff-body: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-ja: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;


body {
  font-family: $ff-body;
  font-size: 18px; // fallback
  font-size: responsive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ff-heading;
  font-size: 30px;
  font-size: responsive 18px 40px;
}
