@mixin linx ($base, $visited, $hover, $active) {
  a {
    color: $base;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:focus,
    &:active {
      color: $active;
    }
  }
}

%plainlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

%visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

._visuallyhidden {
  @extend %visuallyhidden;
}
