html {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex: 1 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {

  .header {
    margin-bottom: .5rem;
    overflow: hidden;
  }

  .section {
    border-radius: 3px;
    background: #fff;
    margin-top: 24px;
    padding: 20px;
  }
}

