body {
  font-family: $ff-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $ff-heading;
  font-weight: 700;
}

a {
  @include linx($blue-light, mix($blue-light, $white, 5%), $blue-dark, mix($blue-dark, $black, 5%));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
