{% extends "kw_webapp/logged_in.html" %}
{% load crispy_forms_tags %}
{% block title %}| Contact{% endblock %}
{% block content %}
  {{ block.super }}
    <section class="contact-section">
      <div class="inner">
        <h1 class="section-heading">Drop us a line | <span lang="ja">私たちに手紙を送ります</span></h1>
        <p>Hello there Good Sir, Gentle Madam, or Venerable Crabigator!</p>
        <p><a href="https://github.com/tadgh/" rel="external" target="_blank">Gary</a> and <a href="https://github.com/DJTB" rel="external" target="_blank">Duncan</a> would love to hear from you. </br>Send us your compliments, woes, dreams, and haikus.</p>
        <p>If you find a bug in the site, <span class="_strikeout">smoosh it goood</span> submit a bug report below!</br>It'll only take a moment, and we'll get right onto fixing it.</p>
        <p>100 internet points to you if you include your <a href="http://whatbrowser.org" target="_blank" rel="external">Browser version</a> and <a href="http://whatsmyos.com/" rel="external" target="_blank">Operating System version</a> so we can accurately replicate the problem in testing. ありがとうございます</p>

        <form class="contact-form pure-form pure-form-stacked" action={% url "contact:contact_form" %} method="post">
          {% csrf_token %}
          {{ form }}
          <button class="pure-button -submit" type="submit">Submit</button>
        </form>

      </div>
    </section>

  </div>
  <!-- / .site-content -->
  {% include 'partials/site-footer.html' %}

{% endblock %}
