{% extends "kw_webapp/logged_in.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {{ block.super }}
    <section class="contact-section">
        <div class="inner">
          <h1 class="section-heading">Drop us a line</h1>
          <p>Well hello there Good Sir, Gentle Madam, or Venerable Crabigator.</p>
          <p><a href="https://github.com/tadgh/">Gary</a> and <a href="http://github.com/DJTB">Duncan</a> would love to hear from you. Send us your compliments, woes, dreams, and haikus.</p>
          <p>If you find a bug in the site, <span class="_strikeout">smoosh it goood</span> submit a bug report below! It'll only take a moment, and we'll get right onto fixing it.</p>
        </div>
    </section>
    <form action={% url "contact:contact_form" %} method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
