{% extends "kw_webapp/logged_in.html" %}
{% load crispy_forms_tags %}
{% block title %}Contact | {% endblock %}
{% block content %}
  {{ block.super }}
  <section class="contact-section">
    <div class="inner">
      <h1 class="section-heading">Drop us a line <span lang="ja">私たちに手紙を送ります</span></h1>
      <h2 class="h5">Hello there Good Sir, Gentle Madam, or Venerable Crabigator.</h2>
      <p class="text"><a href="https://github.com/tadgh/" rel="external noopener noreferrer" target="_blank">Gary</a> and <a href="https://github.com/DJTB" rel="external noopener noreferrer" target="_blank">Duncan</a> would love to hear from you. Send us your compliments, woes, dreams, and haikus. If you find a bug in the site, <span class="_strikeout">smoosh it goood</span> send us a message below! It'll only take a moment, and we'll get back to you shortly. Bonus 100 internet points to you if you include your <a href="http://whatbrowser.org" target="_blank" rel="external noopener noreferrer">browser version</a> and <a href="http://whatsmyos.com/" rel="external noopener noreferrer" target="_blank">operating system version</a> so we can accurately replicate the problem in testing. ありがとうございます</p>
      <p class="text">You can join us on <a href="https://rauchg-slackin-iurjmkotad.now.sh/" rel="external noopener noreferrer" target="_blank">Slack</a> for a quick response or just to have a chat. Otherwise, use the stone-age contact form below.</p>
      <form class="contact-form pure-form pure-form-stacked" action={% url "contact_form" %} method="post">
        {% csrf_token %}
        {{ form }}
        <button class="pure-button -submit" type="submit">Submit</button>
      </form>

      </div>
    </section>

  </div>
  <!-- / .site-content -->
  {% include 'partials/site-footer.html' %}

{% endblock %}
