---
layout: full-page
title: contact
---

<section class="section contact-us">
  <div class="inner">
    <h1>Drop us a line.</h1>
    <p>Our humblest apologies to you Good Sir, Gentle Madam, or Venerable Crabigator.</p>
    <p>We still haven't set up an internal contact form. Though you're welcome to reach out to us via <a href="mailto:tadgh@cs.toronto.edu">Tadgh's email</a> or <a href="mailto:duncan.bay@gmail.com">Duncan's email</a>.</p>
    <p>If you find a bug in the site, <span class="_strikeout">smoosh it goood</span><a href="https://docs.google.com/forms/d/11y5CimRb7E1m-xCsRcPu-Ee5z1hddArCScy6s8XUGqA/viewform?usp=send_form" rel="external" target="_blank"> submit a bug report!</a><br> It'll only take a moment, and then we'll get right onto fixing it, このコーヒーを飲んだの後で...</p>
  </div>
</section>
