---
layout: full-page
title: contact
---

<section class="contact-section">
  <div class="inner">
        <h1 class="section-heading">Drop us a line</h1>
        <p>Hello there Good Sir, Gentle Madam, or Venerable Crabigator!</p>
        <p><a href="https://github.com/tadgh/">Gary</a> and <a href="http://github.com/DJTB">Duncan</a> would love to hear from you. </br>Send us your compliments, woes, dreams, and haikus.</p>
        <p>If you find a bug in the site, <span class="_strikeout">smoosh it goood</span> submit a bug report below!</br>It'll only take a moment, and we'll get right onto fixing it.</p>
        <p>100 internet points to you if including your <a href="http://whatbrowser.org">Browser version</a> and <a href="http://whatsmyos.com/">Operating System version</a> so we can accurately replicate the problem in testing. ありがとうございます</p>
  </div>
</section>
