---
layout: full-page
title: settings
---

<section class="section user-settings">
  <div class="inner">
    <h1>Settings</h1>
    <form class="pure-form pure-form-stacked" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="WFFTVsR7H9k6XT7JHWupoHYcksOuMn9g">

      <!-- TODO: just remove pure and style form fields in _user-settings.scss / _forms.scss yourself-->
      <fieldset>
        <label for="api">API Key <sup>*</sup></label>
        <input id="api" class=" pure-input-2-3 required" type="text" placeholder="API Key" value="613514b652760f65b2665bd094cf89ec" required>

        <label for="level">Level</label>
        <input id="level" class="pure-input-2-3" type="text" placeholder="Level" value="6" disabled>

        <button type="submit" class="pure-button button -submit">Save</button>
      </fieldset>
    </form>
  </div>
</section>
