---
layout: full-page
title: unlocks
---


<ul class="list-group">

  {{#iterate 10}}
  <div class="list-group-item list-group-item-success text-center -unlocked"><p>Level {{@index}} Unlocked</p></div>
  {{/iterate}}

  {{#iterate 10}}
  <div class="list-group-item list-group-item-success text-center -unlockable"><p>Level {{@index}} Unlockable</p></div>
  {{/iterate}}

  {{#iterate 50}}
  <div class="list-group-item list-group-item-success text-center -locked"><p>Level {{@index}} Locked</p></div>
  {{/iterate}}

</ul>
