---
layout: full-page
title: vocab
---

<section class="section vocab">
  <div class="inner">
    <h1 class="section-heading">
      Vocabulary<span class="breadcrumb">Level 6</span>
    </h1>

    <ul class="vocab__list">

      <li class="vocab__item vocab__item--locked -unlockable">
        <div class="vocab-upper">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
          <a href="#" class="fa fa-unlock-alt" title="Unlockable"><span class="_visuallyhidden">Unlockable</span></a>
        </div>
        <div class="vocab-lower">
          <span class="icon icon-enlighten"></span>

          <div class="vocab-synonyms">
            <span class="text">User synonyms:</span>
            <ul class="vocab-synonyms__list">
              <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
              <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
            </ul>
          </div>
          <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
        </div>
      </li>

      <li class="vocab__item vocab__item--active">
        <div class="vocab-upper">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
          <a href="#" class="fa fa-unlock" title="Unlocked"><span class="_visuallyhidden">Unlocked</span></a>
        </div>
        <div class="vocab-lower">
          <span class="icon icon-enlighten"></span>

          <div class="vocab-synonyms">
            <span class="text">User synonyms:</span>
            <ul class="vocab-synonyms__list">
              <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
              <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
            </ul>
          </div>
          <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
        </div>
      </li>

      <li class="vocab__item vocab__item--locked">
        <div class="vocab-upper">
          <span class="vocab__kanji">お誕生日おめでとう</span>
          <span class="vocab__kana">おたんじょうびおめでとう</span>
          <span class="vocab__meaning">Happy Birthday</span>
          <a href="#" class="fa fa-lock" title="Locked"><span class="_visuallyhidden">Locked</span></a>
        </div>
        <div class="vocab-lower">
          <span class="icon icon-burned"></span>

          <div class="vocab-synonyms">
            <span class="text">User synonyms:</span>
            <ul class="vocab-synonyms__list">
              <li class="vocab-synonyms__item" contentEditable="true">Birth anniversary</li>
              <li class="vocab-synonyms__item" contentEditable="true">That day of the year</li>
            </ul>
          </div>
          <a href="#" class="vocab-lower__toggle fa fa-ellipsis-v"></a>
        </div>
      </li>
    </ul>

  </div>
</section>
