<div class="review-header">
  <div class="inner">
    <progress class="progressbar" min="0" max="2000" value="0"></progress>
    <a href="{% url "kw:home" %}" class="homelink"><span class="icon i-home"></span></a>
    <ul class="statslist">
      <li class="item"><span class="icon i-thumbsup"></span><span id="reviewsCorrect">0</span>%</li>
      <li class="item"><span class="icon i-ok"></span><span id="reviewsDone">0</span></li>
      <li class="item"><span class="icon i-inbox"></span><span id="reviewsLeft"></span></li>
    </ul>
  </div>
</div>
