<div class="srs-dashboard">
  <ul class="list">
    <li class="item -apprentice">
      <a href={% url 'kw:vocab_level' 'apprentice' %}>
        <p class="count">{{ srs_apprentice_count }}</p>
        <h5 class="title">Apprentice</h5>
      </a>
    </li>
    <li class="item -guru">
      <a href={% url 'kw:vocab_level' 'guru' %}>
        <p class="count">{{ srs_guru_count }}</p>
        <h5 class="title">Guru</h5>
      </a>
    </li>
    <li class="item -master">
      <a href={% url 'kw:vocab_level' 'master' %}>
        <p class="count">{{ srs_master_count }}</p>
        <h5 class="title">Master</h5>
      </a>
    </li>
    <li class="item -enlightened">
      <a href={% url 'kw:vocab_level' 'enlightened' %}>
        <p class="count">{{ srs_enlightened_count }}</p>
        <h5 class="title">Enlightened</h5>
      </a>
    </li>
    <li class="item -burned">
      <a href={% url 'kw:vocab_level' 'burned' %}>
        <p class="count">{{ srs_burned_count }}</p>
        <h5 class="title">Burned</h5>
      </a>
    </li>
  </ul>
</div>
