<div class="srs-dashboard">
  <ul class="list">
    <li class="item -apprentice">
      <p class="count">{{ srs_apprentice_count }}</p>
      <h5 class="title">Apprentice</h5>
    </li>
    <li class="item -guru">
      <p class="count">{{ srs_guru_count }}</p>
      <h5 class="title">Guru</h5>
    </li>
    <li class="item -master">
      <p class="count">{{ srs_master_count }}</p>
      <h5 class="title">Master</h5>
    </li>
    <li class="item -enlightened">
      <p class="count">{{ srs_enlightened_count }}</p>
      <h5 class="title">Enlightened</h5>
    </li>
    <li class="item -burned">
      <p class="count">{{ srs_burned_count }}</p>
      <h5 class="title">Burned</h5>
    </li>
  </ul>
</div>
