<a data-modal="#newSynonym" href="#">Add Synonym</a>

<div class="modal modal-small" data-modal-window id="newSynonym">
    <a class="close" data-modal-close>x</a>
    <h3>Add an accepted answer synonym</h3>
      <form id="synonymForm" class="synonym-form">
        <label for="newKana">
          New Kana: <input type="text" id="newKana" name="kana" placeholder="new kana" value=""/>
        </label>
        <label for="newKanji">
          New Kanji: <input type="text" id="newKanji" name="kanji" placeholder="new kanji" value=""/>
        </label>
        <button id="synonymSubmit" type="submit" class="button -submit">Submit</button>
      </form>
</div>
