{% load humanize %}

<div class="user-overview">

  <h2 class="name">{{ user.username }}</h2>
  <div class="gravatar">
    <img alt="User Gravatar" src="//www.gravatar.com/avatar/{{ user.profile.gravatar }}?s=300">
  </div>

  <div class="reviews">
    {% if user.profile.on_vacation %}
      <a id="reviewCount" href="{% url "kw:home" %}" class="pure-button button -disabled" role="button" >
        On Vacation!
      </a>
    {% elif review_count > 0 %}
      <a id="reviewCount" href="{% url "kw:review" %}" class="pure-button button" role="button" >
        {{ review_count }} Review{{ review_count|pluralize }}
      </a>
    {% else %}
      <a id="reviewCount" href="{% url "kw:review" %}" class="pure-button button -disabled" role="button">
        Next review: {{ next_review_date|naturaltime }}
      </a>
    {% endif %}
  </div>

</div>
