@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes float-up-left {
  0%   { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-18deg); }
}

@keyframes float-up-right {
  0%   { transform: translateY(0) rotate(0deg);}
  100% { transform: translateY(calc(-100vh - 180px)) rotate(24deg); }
}

@keyframes rotate-left {
  0%   { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-160deg); }
}

@keyframes rotate-right {
   0%   { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(140deg); }
}

@keyframes rotate-right-slow {
  0%   { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(80deg); }
}

@keyframes rotate-left-slow {
  0%   { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-70deg); }
}
