@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -200%, 0);
  }
}

@mixin turtle-animation($i, $imgSize, $opacity, $duration, $delay, $rotate, $drift) {
  $left: random(100);

  @function plusMinus($n) {
    @return if(random(2) > 1, -#{$n}, +#{$n});
  }

  @function randOpacity($O) {
    @return if(random(2) > 1, #{$O - random(15) / 100}, #{$O + random(15) / 100});
  }

  @function calcDrift($L, $D) {
    @return if($L > 50, #{-$D}vw, #{$D}vw);
  }


  @keyframes turtle-float-#{$i} {
    33% {
      opacity: randOpacity($opacity) ;
    }
    66% {
      opacity: randOpacity($opacity) ;
    }
    100% {
      opacity: randOpacity($opacity) ;
      transform: translateX(calcDrift($left, $drift))
                 translateY(calc(-102vh - #{$imgSize}px))
                 rotate(#{plusMinus($rotate)}deg)
    }
  }
  opacity: $opacity;
  width: #{$imgSize}px;
  height: #{$imgSize}px;
  left: calc(#{$left}% - #{$imgSize}px);;
  bottom: -#{$imgSize}px;
  animation-name: turtle-float-#{$i};
  animation-duration: #{$duration}s;
  animation-delay: #{$delay}s;
  animation-timing-function: if(random(2) > 1, ease-in, ease-out);
}

