@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes float-up {
  0%   { transform: translateY(0) translateX(0); }
  100% { transform: translateY(calc(-100vh - 180px)) translateX(-3vw); }
}

@keyframes float-up-left {
  0%   { transform: translateY(0) rotate(0deg) translateX(0);}
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-18deg) translateX(-5vw); }
}

@keyframes float-up-right {
  0%   { transform: translateY(0) rotate(0deg) translateX(0);}
  100% { transform: translateY(calc(-100vh - 180px)) rotate(24deg) translateX(3vw); }
}

@keyframes rotate-left {
  0%   { transform: translateY(0) rotate(0deg) translateX(0); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-160deg) translateX(-2vw); }
}

@keyframes rotate-right {
   0%   { transform: translateY(0) rotate(0deg) translateX(0); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(140deg) translateX(4vw); }
}

@keyframes rotate-right-slow {
  0%   { transform: translateY(0) rotate(0deg) translateX(0); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(80deg) translateX(-6vw); }
}

@keyframes rotate-left-slow {
  0%   { transform: translateY(0) rotate(0deg) translateX(0); }
  100% { transform: translateY(calc(-100vh - 180px)) rotate(-70deg) translateX(-3vw); }
}
