@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 40%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  25%, 55%, 85% {
    transform: translate3d(8px, 0, 0);
  }
}

.shake {
  animation: shake .6s;
  animation-fill-mode: both;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -125px, 0) scale(1.4);
  }
}

@keyframes srsRankUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3.5em, 0);
  }

  30% {
    opacity: .1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@function plusMinus($n) {
  @return if(random(2) > 1, -#{$n}, +#{$n});
}

@function calcDrift($L, $D) {
  @return if($L > 50, #{-$D}vw, #{$D}vw);
}

@mixin turtle-animation($i, $imgSize, $opacity, $duration, $delay, $rotate, $drift) {
  $left: random(100);

  opacity: $opacity;
  width: #{$imgSize}px;
  height: #{$imgSize}px;
  left: calc(#{$left}% - #{$imgSize}px);;
  bottom: -#{$imgSize}px;
  animation-name: turtle-float-#{$i};
  animation-duration: #{$duration}s;
  animation-delay: #{$delay}s;

  @keyframes turtle-float-#{$i} {
    33% {
      // not DRY intentionally so we get different random() values with sass
      opacity: if(random(2) > 1, #{$opacity - random(40) / 100}, #{$opacity + random(40) / 100});
    }
    66% {
      opacity: if(random(2) > 1, #{$opacity - random(40) / 100}, #{$opacity + random(40) / 100}) ;
    }
    100% {
      opacity: if(random(2) > 1, #{$opacity - random(40) / 100}, #{$opacity + random(40) / 100}) ;
      transform: translateX(calcDrift($left, $drift))
                 translateY(calc(-102vh - #{$imgSize}px))
                 rotate(#{plusMinus($rotate)}deg)
    }
  }
}

