.button {
  cursor: pointer;
  appearance: none;
  outline: 0;
  padding: .5em 1.5em;
  border: 0;
  border-radius: 3px;
  transition: all .25s ease-out;

  &.-submit {
    font-size: 18px;
    background-color: $blue;
    color: $white;
    &:hover {
      background-color: transparentize($blue, .2);
    }
  }
}
