// Gray Scale

$white-light: #fff;
$white:  hsl(0, 0%, 95%);
$silver: hsl(0, 0%, 87%);
$grey-light:   hsl(0, 0%, 67%);
$grey: hsl(0, 0%, 52%);
$grey-dark: hsl(0, 0%, 33%);
$black-light: hsl(0, 0%, 26%);
$black:  hsl(0, 0%, 16%);
$black-dark: #000;

// KaniWani
$blue-dark: hsl(228, 71%, 51%);
$blue-light: hsl(200, 100%, 43%);
$pink: hsl(320, 100%, 50%);
$purple: hsl(280, 100%, 47%);
$red: hsl(348, 100%, 50%);
$green: hsl(80, 100%, 40%);
