// 300, 400, 700 weights available
$ff-body: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
// 400 only
$ff-heading: "Ubuntu", Helvetica, Arial, sans-serif;
$ff-japanese: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;

body {
  font-family: $ff-body;
  font-size: responsive 14px 18px;
  font-range: 400px 1600px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;
  color: $grey-dark;
  font-weight: normal;
  margin: 0;
  line-height: 1.6;

  &:first-child {
    margin-top: .5em;
  }
}

h1 {
  font-family: $ff-heading;
  font-size: 30px;
  font-size: responsive 22px 36px;
  font-range: 600px 1300px;
}

h2 {
  font-size: responsive 20px 30px;
}

h3 {
  font-size: responsive 18px 25px;
}

h4 {
  font-size: responsive 17px 24px;
}

h5 {
  font-size: responsive 16px 23px;
}

h6 {
  font-size: responsive 16px 21px;
}

b,
strong {
  font-family: $ff-heading;
}

p {
  max-width: 800px;
  margin: 0;
  margin-bottom: .6em;

  &:last-child {
    margin-bottom: 0;
  }

  > a {
    color: $blue-light;
    &:hover {
      color: $blue-dark;
    }
  }
}

a {
  text-decoration: none;
  transition: all .3s ease-out;
  color: $grey-dark;
  &:hover {
    color: $grey;
  }
  &:focus,
  &:active {
    color: $grey-light;
  }
}
