// crispy forms
.help-block,
.errorlist li {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: .9em;
  line-height: 1.5;
  font-style: italic;
  padding: .25em;
  padding-left: 0;

  &:before {
    @include icon-font;
    display: inline-block;
    font-size: 18px;
    margin-right: .4em;
    color: $tan;
    content: "\e80f";
  }
}

.errorlist {
	@extend %plainlist;
	li:before {
		color: $red;
	}
}

.has-error .controls input {
  border-color: $tan !important;
}

form {
  label + label {
    display: block;
    margin-top: $unit-sm;
  }

  label + button {
    margin-top: $unit-sm;
  }

  button,
  .button {
    font-family: $ff-heading;
  }

}
