/* https://github.com/IonicaBizau/gridly/ */

.row {
  display: flex;
}

.col {
  flex: 1;
}

@include media('<=768px') {
  .row {
    flex-direction: column;
  }
  .col {
    flex: 0 0 100%;
  }
}

.col-tenth {
  flex: 0 0 10%;
}

.col-fifth {
  flex: 0 0 20%;
}

.col-quarter {
  flex: 0 0 25%;
}

.col-third {
  flex: 0 0 33.3333334%;
}

.col-half {
  flex: 0 0 50%;
}

.col-two-thirds {
  flex: 0 0 75%;
}

.col-three-quarters {
  flex: 0 0 75%;
}
