/* https://github.com/IonicaBizau/gridly/ */

$unstack-bp: 768px;

.row {
  display: flex;
  padding-bottom: $unit-sm;
}

.col {
  flex: 1;
  padding-left: $unit-sm;
  padding-right: $unit-sm;
}

@media(max-width: $unstack-bp) {
  .row {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $unit-sm;
    padding-right: $unit-sm;
  }
  .col {
    flex: 0 0 100%;
    padding-top: $unit-sm;
    padding-bottom: $unit-sm;
    padding-left: 0;
    padding-right: 0;
  }
}

.col-tenth {
  flex: 0 0 10%;
}

.col-fifth {
  flex: 0 0 20%;
}

.col-quarter {
  flex: 0 0 25%;
}

.col-third {
  flex: 0 0 33.3333334%;
}

.col-half {
  flex: 0 0 50%;
}

.col-two-thirds {
  flex: 0 0 75%;
}

.col-three-quarters {
  flex: 0 0 75%;
}
