@mixin tap-target($Y: .5em, $X: 1em) {
  &:after {
    position: absolute;
    content: '';
    top: -$Y;
    bottom: -$Y;
    right: -$X;
    left: -$X;
  }
}

// limits width and centers item
@mixin container($width: 1260px) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

// allows background to be 100% width whilst content is contained and centered.
@mixin full-bg($maxwidth: 1260px) {
  $maxwidth: $maxwidth / 2;
  padding-left: calc(50% - #{$maxwidth});
  padding-right: calc(50% - #{$maxwidth});
}

// %placeholderclasses are used in other places as @extend %placeholderclass
%plainlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

%visuallyhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  outline: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
}

%sitebackground {
  background: $blue-light;
  background: linear-gradient(to bottom right, $blue-light 33%, $blue 77%);
}

// an underscore _ denotes a utility class for use in markup
// it's intentionally ugly to discourage use
._visuallyhidden {
  @extend %visuallyhidden;
}

._strikeout {
  text-decoration: line-through;
}

// force box for components with no height (background floating icons for example)
// should not be used in production
._styleguidewrap {
  position: relative;
  background: $grey-dark;
  height: 300px;
}
