%plainlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

%visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

%sitebackground {
  background: $blue-light;
  background: linear-gradient(to bottom right, $blue-light 33%, $blue 77%);
}

._visuallyhidden {
  @extend %visuallyhidden;
}
