// add new icons by visiting fontello and using config.json in icon folder to start with same settings

@font-face {
  font-family: 'fontello';
  src: font('icons/fontello.eot?91272950');
  src: font('icons/fontello.eot?91272950#iefix') format('embedded-opentype'),
       font('icons/fontello.woff?91272950') format('woff'),
       font('icons/fontello.ttf?91272950') format('truetype'),
       font('icons/fontello.svg?91272950#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-font {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  @extend %icon-font;
}

.i-lock:before { content: '\e800'; } /* '' */
.i-unlock:before { content: '\e802'; } /* '' */
.i-unlocked:before { content: '\e801'; } /* '' */
.i-enlightened:before { content: '\e803'; } /* '' */
.i-burned:before { content: '\e804'; } /* '' */
.i-apprentice:before { content: '\e805'; } /* '' */
.i-guru:before { content: '\e806'; } /* '' */
.i-master:before { content: '\e807'; } /* '' */
.i-logout:before { content: '\e808'; } /* '' */
.i-home:before { content: '\e809'; } /* '' */
.i-uparrow:before { content: '\e80d'; } /* '' */
.i-downarrow:before { content: '\e80a'; } /* '' */
.i-leftarrow:before { content: '\e80b'; } /* '' */
.i-rightarrow:before { content: '\e80c'; } /* '' */
.i-refresh:before { content: '\e80e'; } /* '' */
.i-attention:before { content: '\e80f'; } /* '' */
.i-thumbsup:before { content: '\e810'; } /* '' */
.i-thumbsdown:before { content: '\e811'; } /* '' */
.i-link:before { content: '\e812'; } /* '' */
.i-inbox:before { content: '\e813'; } /* '' */
.i-twitter:before { content: '\e814'; } /* '' */
.i-ok:before { content: '\e815'; } /* '' */
.i-cancel:before { content: '\e816'; } /* '' */
.i-plus:before { content: '\e817'; } /* '' */
.i-minus:before { content: '\e818'; } /* '' */


// change both border px and width/height to adjust spinner size
.-loading {
  border-top: 2px solid rgba($black, 0.2);
  border-right: 2px solid rgba($black, 0.2);
  border-bottom: 2px solid rgba($black, 0.2);
  border-left: 2px solid $white;
  transform: translateZ(0);
  animation: loadspin 1.2s infinite linear;
}

.-loading,
.-loading:after {
  border-radius: 50%;
  width: .95em;
  height: .95em;
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
