html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background: $white;
}

.main {

  .section {
    border-radius: 3px;
    margin-top: 24px;
    padding: 20px;
  }

}

