html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  background: $white;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

[contenteditable="true"] {
  overflow: hidden!important;

  br {
    display: none!important;
  }

  * {
    display: inline!important;
  }
}

.section {
  margin-bottom: $unit-md;
  > .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}


