html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  background: $white-light;
  height: 100%;
}

// matches .whatever-section, .something-section
[class*="-section"],
.site-header,
.site-footer {
  &:not(.-fullwidth) {

    > .inner {
      @include container($site-max-width);
      padding-left: $unit-sm;
      padding-right: $unit-sm;

      @include media($bp-md) {
        padding-left: $unit-md;
        padding-right: $unit-md;
      }

      p {
        max-width: 800px;
      }
    }
  }
}

[contenteditable="true"] {
  overflow: hidden !important;

  br {
    display: none !important;
  }

  * {
    display: inline !important;
  }
}
