// change both border px and width/height to adjust spinner size

.loader,
.-loading {
  border-top: 2px solid rgba($black, 0.2);
  border-right: 2px solid rgba($black, 0.2);
  border-bottom: 2px solid rgba($black, 0.2);
  border-left: 2px solid $white;
  transform: translateZ(0);
  animation: loadspin 1.2s infinite linear;
}

.loader,
.-loading,
.loader:after,
.-loading:after {
  border-radius: 50%;
  width: .95em;
  height: .95em;
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
