/* Site Breakpoints - see _include-media.scss for usage */
$bp-md: '>=md'; // 768px in include-media
$bp-lg: '>=lg'; // 1024px in include-media
$bp-xl: '>=xl'; // 1200px in include-media

/* Custom Component Breakpoints */
// should really be contained within components, not happy that these are used across several...
// perhaps should only really be in site-header??
$bp-nav-1: '>=590px';
$bp-nav-2: '>=850px';

$site-max-width: 1200px;

/* Units */
$unit-xs: 10px;
$unit-sm: 15px;
$unit-md: 25px;
$unit-lg: 30px;
$unit-xl: 40px;

/* Greyscale */
$white-light: hsl(0, 0%, 98%);
$white:  hsl(0, 0%, 96%);
$white-dark: hsl(0, 0%, 87%);
$grey-light: hsl(0, 0%, 67%);
$grey: hsl(0, 0%, 55%);
$grey-dark: hsl(0, 0%, 38%);
$black-light: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 16%);
$black-dark: hsl(0, 0%, 0%);

/* KaniWani colors */
$blue-light: hsl(200, 100%, 41%);
$purple-light: hsl(280, 100%, 50%);
$purple-dark: hsl(280, 80%, 36%);
$blue-dark: hsl(228, 71%, 52%);
$blue: hsl(220, 100%, 47%);
$purple: hsl(282, 100%, 47%);
$pink: hsl(314, 100%, 50%);
$red: hsl(346, 75%, 54%);
$green: hsl(107, 56%, 62%);
$yellow: hsl(53, 100%, 48%);


/* Shadows */
$shadow-text-thin: 0 1px 0 rgba($black, .4);
$shadow-text-light: 2px 2px 0 rgba($black, .5);
$shadow-inner-light: inset 3px 3px 8px 0 rgba($black, .25);
$shadow-inner-medium: inset 0 3px 20px -3px rgba($black, .3);
$shadow-outer-light: 0 0 25px -5px rgba($black, .25);
$shadow-bottom-light: 0 1px 12px rgba($black, .1);
