/* Site Breakpoints - see _include-media.scss for usage */
$bp-md: '>=md'; // 768px in include-media
$bp-lg: '>=lg'; // 1024px in include-media
$bp-xl: '>=xl'; // 1200px in include-media

/* Custom Component Breakpoints */
// should really be contained within components, not happy that these are used across several...
$bp-nav-1: '>=590px';
$bp-nav-2: '>=850px';

$site-max-width: 1200px;

/* Units */
$unit-xs: 10px;
$unit-sm: 15px;
$unit-md: 25px;
$unit-lg: 30px;
$unit-xl: 40px;

/* Greyscale */
$white-light: hsl(0, 0%, 98%);
$white:  hsl(0, 0%, 96%);
$silver: hsl(0, 0%, 87%);
$grey-light: hsl(0, 0%, 67%);
$grey: hsl(0, 0%, 55%);
$grey-dark: hsl(0, 0%, 38%);
$black-light: hsl(0, 0%, 26%);
$black: hsl(0, 0%, 16%);
$black-dark: hsl(0, 0%, 0%);

/* KaniWani colors */
$blue-light: hsl(200, 100%, 43%);
$blue: hsl(208, 100%, 45%);
$blue-dark: hsl(228, 71%, 52%);
$pink: hsl(320, 100%, 50%);
$purple: hsl(280, 100%, 46%);
$red: hsl(348, 100%, 50%);
$green: hsl(80, 100%, 40%);

/* Shadows */
$shadow-text-light: 0 2px 0 rgba($black, .3);
$shadow-inner-light: inset 3px 3px 8px 0 rgba($black, .25);
$shadow-outer-light: 0 0 25px -5px rgba($black, .25);
$shadow-bottom-light: 0 1px 12px rgba($black, .1);
