{
  'extends': 'airbnb',
  'rules' : {
    'id-length': [1, {'min': 2, 'properties': 'never', 'exceptions': ['s','v','i','a','b','x','y','o']}],
    'quote-props': [1, 'consistent-as-needed'],
    'no-cond-assign': [2, 'except-parens'],
    'space-infix-ops': 0,
    'no-unused-vars': [1, {'vars': 'local', 'args': 'none'}],
    'default-case': 0,
    'no-param-reassign': 1,
    'quotes': [1, "single", "avoid-escape"]
  }
}
