@import 'fonts';
@import 'google-fonts';
@import 'icons';

// ---------
// Variables
// ---------

//Colours


// -------------------
// Basic Global Styles
// -------------------
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-kerning: normal;
}

body {
  background: #eee;
  color: #333;
}

/* button {
  background: $blue1e;
  border: 0;
  color: $grey1d;
  display: inline-block;
  font-family: $helvetica-neue-reg;
  font-size: 1.5rem;
  padding: 1.9rem 12rem;
  text-align: center;

  @include breakpoint(max-width $mobile) {
    padding: 1.9rem;
    width: 100%;
  }

  &:hover {
    background: $blue1d;
  }
} */