// Variables
$base-font-size: 1.6rem;
$roboto-bold: 'Roboto Bold', sans-serif;
$roboto-medium: 'Roboto Medium', sans-serif;
$roboto-light: 'Roboto Light', sans-serif;
$roboto-thin: 'Roboto Thin', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-slab-bold: 'Roboto Slab Bold', serif;
$roboto-slab-light: 'Roboto Slab Light', serif;
$roboto-slab-thin: 'Roboto Slab Thin', serif;
$roboto-slab: 'Roboto Slab', serif;
$japanese: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

html {
  font-size: 62.5%;
}

body {
  font-family: $roboto;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: normal;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-slab-light;
}

h1 {
  font-family: $roboto-slab;
  font-size: 3.4rem;
  line-height: 1;
  margin: .5rem 0;

  @include breakpoint(max-width 670px) {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin: .4em 0;

  @include breakpoint(max-width 670px) {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 1;
  margin: .625em 0;

  @include breakpoint(max-width 670px) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 1;
  margin: .4em 0;

  @include breakpoint(max-width 670px) {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 1;
  margin: .4em 0;

  @include breakpoint(max-width 670px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1.6rem;
  line-height: 1;
  margin: .4em 0;

  @include breakpoint(max-width 670px) {
    font-size: 1rem;
  }
}

b,
strong {
  font-family: $roboto-bold;
}

a {
  @include transition(color .2s ease);
  color: #222;
  text-decoration: none;

  &:hover {
    color: darken($purple, 80%);
    text-decoration: underline;
  }

  &[rel='external']:after {
    @include fa-icon;
    content: '\f08e';
    font-size: 1.2rem;
    margin-left: 3px;
  }
}

small {
  font-size: 1.1rem;
}

p,
ul,
ol,
dl,
hr,
pre {
  margin: 0 0 1.7em;
}

ol {
  list-style-position: inside;
  padding: 0 0 0 .9rem;

  li {
    padding: 0 0 .4rem;
  }
}

pre {
  display: block;
}

section a {
  text-decoration: underline;
}

section h2 {
  margin-bottom: 2rem;
  margin-top: 0;
}