---
notes: |
  TODO: Use svg/icons instead of `:after {content: '+'}`

  TODO: change to javascript with nicer transitions the same way as vocab-extra in [vocab-card](/components.html#vocab-card) since the whole site needs it to operate anyway. No reason for this one component to work without js.
---

<ul class="accordion-list">
  <li class="item">
    <input class="toggle" id="item-1" type="checkbox" hidden>
    <label class="label" for="item-1">
      <span class="text">Patch 0.2</span>
      (<time>3/22/15</time>)
    </label>
    <div class="content">
      <p>Urban tattoo RAF claymore mine table sensory woman pen assassin human nodality systema systemic convenience store. Garage chrome savant media assassin denim nodal point Legba pre-post-footage soul-delay. Drugs j-pop meta-modem industrial grade nodal point boy 3D-printed refrigerator semiotics. Chrome euro-pop-ware tanto RAF receding sentient Kowloon bridge shanty town grenade nodality car otaku augmented reality ablative crypto. Office hotdog 8-bit bomb receding car sensory.</p>
    </div>
  </li>
  <li class="item">
    <input class="toggle" id="item-2" type="checkbox" hidden>
    <label class="label" for="item-2">
      <span class="text">Downtime </span>
      (<time>1/22/15</time>)
    </label>
    <div class="content">
      <p>Face forwards long-chain hydrocarbons savant into BASE jump artisanal warehouse industrial grade rifle hacker decay kanji nano. Hacker render-farm fetishism soul-delay otaku Tokyo table woman free-market human boy faded A.I. ablative lights silent dead. Shrine narrative silent bicycle jeans rebar post-rain savant media human sunglasses order-flow ablative into math. Soul-delay faded 8-bit skyscraper computer cardboard tiger-team. Tiger-team footage range-rover long-chain hydrocarbons Kowloon narrative wristwatch face forwards carbon crypto. Dead construct nodality weathered sensory rain table convenience store San Francisco advert render-farm franchise.</p>
    </div>
  </li>
</ul>
