<article class="accordion-container">
  <header class="header -toggle">
    <h4 class="title">Content title <time class="time" datetime="2016-05-15T19:00">(2016-05-15)</time></h4>
    <span class="icon i-downarrow" aria-hidden="true"></span>
  </header>

  <div class="wrap">
    <div class="content">
      <p>Urban tattoo RAF claymore mine table sensory woman pen assassin human nodality systema systemic convenience store. Garage chrome savant media assassin denim nodal point Legba pre-post-footage soul-delay. Drugs j-pop meta-modem industrial grade nodal point boy 3D-printed refrigerator semiotics. Chrome euro-pop-ware tanto RAF receding sentient Kowloon bridge shanty town grenade nodality car otaku augmented reality ablative crypto. Office hotdog 8-bit bomb receding car sensory.</p>
      <p class="author">
        author
      </p>
    </div>
  </div>

</article>
