<dl class="accordion-list">
{{# iterate 3 }}
  <dt>
    <a href="#accordion{{ @index }}" aria-expanded="false" aria-controls="accordion{{ @index }}" class="accordion-title accordionTrigger">
      Rhoncus nec lobortis ut, iaculis vel ipsum.
      <time class="time" pubdate="{{ item.pub_date }}"> (Feb 6, 2016)</time>
    </a>
  </dt>
  <dd class="accordion-content accordionContent is-collapsed animateOut" id="accordion{{ @index }}" aria-hidden="true">
	<div class="content-inner">
		<h3>Hi there</h3>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, voluptates.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis itaque autem ut totam, cumque, esse.</li>
			<li>What the deuce the deuce</li>
		</ul>
	    <p>Lorem ipsum dolor sit amet, consectetur <a href="http://www.google.com">Test</a>adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
	    <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
	</div>
  </dd>
  {{/ iterate }}
</dl>
