<article class="accordion-container">
  <header class="header -toggle">
    <h4 class="title">Content title <time class="time" datetime="2016-05-15T19:00">(2016-05-15)</time></h4>
    <span class="icon i-downarrow" aria-hidden="true"></span>
  </header>

  <div class="wrap">
    <div class="content">
    <ul>
      <li>Receding voodoo god into tube girl post-bridge neon boy car dolphin corrupted kanji assassin silent wristwatch. Pre-bridge computer claymore mine tank-traps tube rifle warehouse denim katana BASE jump grenade A.I.-space. Film dolphin camera tattoo city paranoid carbon sprawl digital sensory math-chrome pen. Nano-woman convenience store denim bridge rifle tiger-team warehouse sentient A.I.. Kowloon long-chain hydrocarbons assassin military-grade office post-saturation point bicycle claymore mine industrial grade shrine sub-orbital. Dolphin shrine marketing convenience store DIY military-grade sunglasses monofilament digital girl render-farm otaku courier. RAF ablative vinyl saturation point smart-engine decay face forwards. </li>
      <li>Urban tattoo RAF claymore mine table sensory woman pen assassin.</li>
      <li>Marketing rebar DIY sensory RAF car sprawl rifle. Construct apophenia long-chain hydrocarbons shanty town voodoo god car post. Knife human assassin film crypto-shrine papier-mache spook denim receding towards DIY range-rover. Cartel shoes.</li>
      </ul>
      <p class="author">
        author
      </p>
    </div>
  </div>

</article>
