<nav class="primary-nav">
  <ul class="primary-nav__list">
    <li class="primary-nav__item">
      <a href="#" class="primary-nav__link"><span>Reviews</span> <span class="primary-nav__reviews-num">(42+)</span></a>
    </li>
    <li class="primary-nav__item primary-nav__item--active">
      <a href="#" class="primary-nav__link"><span>Vocabulary</span> <span class="fa fa-briefcase"></span></a>
    </li>
    <li class="primary-nav__item">
      <a href="#" class="primary-nav__link"><span>About</span> <span class="fa fa-question"></span></a>
    </li>
    <li class="primary-nav__item">
      <a href="#" class="primary-nav__link"><span>Contact</span> <span class="fa fa-envelope"></span></a>
    </li>
    <li class="primary-nav__item">
      <a href="#" class="primary-nav__link"><span>Settings</span> <span class="fa fa-cog"></span></a>
    </li>
    <li class="primary-nav__item">
      <a href="#" class="primary-nav__link"><span>Logout</span> <span class="fa fa-sign-out"></span></a>
    </li>
  </ul>
</nav>
