---
notes: |
  Modifier classes for `lattice-list` include `-correct` & `-incorrect`
---

<ul class="lattice-list">
  {{# iterate 8}}
    <li class="item">
      <a class="link hint--bottom hint--rounded -multiline"
         data-hint="たんじょうびおめでとう ・ happy birthday"
         href="/kw/vocabulary/6#vocab3245"
         lang="ja">
         誕生日おめでとう
      </a>
    </li>
  {{/ iterate }}
</ul>

<pre>-correct</pre>
<ul class="lattice-list -correct">
  {{# iterate 42}}
    <li class="item">
      <a class="link hint--bottom hint--rounded -multiline"
         data-hint="こい ・ lust, love"
         href="/kw/vocabulary/6#vocab3245"
         lang="ja">
         恋
      </a>
    </li>
  {{/ iterate }}
</ul>
<pre>-incorrect</pre>
<ul class="lattice-list -incorrect">
  {{# iterate 12}}
    <li class="item">
      <a class="link hint--top hint--rounded"
         data-hint="こい"
         href="/kw/vocabulary/6#vocab3245">
        <div class="ja" lang="ja">恋</div>
        <div class="en">lust, love</div>
      </a>
    </li>
  {{/ iterate }}
</ul>
