---
notes: |
  Modifier classes for `lattice-list` include `-correct` & `-incorrect`
---

<ul class="lattice-list">
  {{# iterate 8}}
    <li class="item">
      <a lang="ja" class="link hint--bottom hint--rounded" data-hint="{{ reading.kana }} | {{ review.vocabulary.meaning }}" href="{% url "kw:vocab" %}{{ reading.level }}#vocab{{ reading.id }}">誕生日おめでとう</a>
    </li>
  {{/ iterate }}
</ul>

<pre>-correct</pre>
<ul class="lattice-list -correct">
  {{# iterate 42}}
    <li class="item">
      <a lang="ja" class="link hint--bottom hint--rounded" data-hint="{{ reading.kana }} | {{ review.vocabulary.meaning }}" href="{% url "kw:vocab" %}{{ reading.level }}#vocab{{ reading.id }}">阪神</a>
    </li>
  {{/ iterate }}
</ul>
<pre>-incorrect</pre>
<ul class="lattice-list -incorrect">
  {{# iterate 12}}
    <li class="item">
      <a lang="ja" class="link hint--bottom hint--rounded" data-hint="{{ reading.kana }} | {{ review.vocabulary.meaning }}" href="{% url "kw:vocab" %}{{ reading.level }}#vocab{{ reading.id }}">素晴らしい</a>
    </li>
  {{/ iterate }}
</ul>
