---
notes: |
  TODO: These cards could probably just inherit from vocab-card styling and lock functionality.

  They might be different enough... could their js functionality/ajax be too different? Maybe the template can easily have /levels/ instead of /vocab/. Hmmm...
---

<ul class="level-list">
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">1</span>
      <span class="fa fa-unlock-alt"></span>
    </div>
  </li>
  <li class="level-card" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">2</span>
      <span class="fa fa-unlock"></span>
    </div>
  </li>
  <li class="level-card">
    <div class="wrap">
      <span class="levelnum">3</span>
      <span class="fa -loading"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">4</span>
      <span class="fa fa-unlock-alt"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">5</span>
      <span class="fa fa-unlock-alt"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">6</span>
      <span class="fa fa-unlock-alt"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">7</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">8</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">9</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">10</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">11</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">12</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">13</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">14</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">15</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">16</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">17</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">18</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">19</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">20</span>
      <span class="fa fa-lock"></span>
    </div>
  </li>
</ul>
