---
notes: |
  TODO: -unlocked card is link to level vocab & has title with "view vocab". Only icons should have cursor on -locked.
---

<ul class="level-list">
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">1</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-unlock"></span>
    </div>
  </li>
  <li class="level-card -unlocked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">2</span>
      <a class="icon i-link" href="#0" title="View vocab"></a>
      <span class="icon i-unlocked" title="Relock"></span>
    </div>
  </li>
  <li class="level-card" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">3</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon -loading"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">4</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-unlock"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">5</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-unlock"></span>
    </div>
  </li>
  <li class="level-card -locked -unlockable" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">6</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-unlock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">7</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">8</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">9</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">10</span>
      <a class="icon i-link -hidden" href="#0" title="View vocab"></a>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">11</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">12</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">13</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">14</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">15</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">16</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">17</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">18</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">19</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
  <li class="level-card -locked" data-level-id="#0">
    <div class="wrap">
      <span class="levelnum">20</span>
      <span class="icon i-lock"></span>
    </div>
  </li>
</ul>
