<ul class="level__list">
  <li class="level__item level__item--locked -unlockable">
    <a href="#" class="level__link" title="Unlockable">
      <span class="level__number">1</span>
      <span class="fa fa-unlock-alt"><span class="_visuallyhidden">Unlockable</span></span>
    </a>
  </li>
  <li class="level__item" data-level-id="2">
    <a href="#" class="level__link">
      <span class="level__number">2</span>
      <span class="fa fa-unlock"><span class="_visuallyhidden">Unlocked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked -unlockable">
    <a href="#" class="level__link" title="Unlockable">
      <span class="level__number">3</span>
      <span class="fa fa-unlock-alt"><span class="_visuallyhidden">Unlockable</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked -unlockable">
    <a href="#" class="level__link" title="Unlockable">
      <span class="level__number">4</span>
      <span class="fa fa-unlock-alt"><span class="_visuallyhidden">Unlockable</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked -unlockable">
    <a href="#" class="level__link" title="Unlockable">
      <span class="level__number">5</span>
      <span class="fa fa-unlock-alt"><span class="_visuallyhidden">Unlockable</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked -unlockable">
    <a href="#" class="level__link" title="Unlockable">
      <span class="level__number">6</span>
      <span class="fa fa-unlock-alt"><span class="_visuallyhidden">Unlockable</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">7</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">8</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">9</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">10</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">11</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">12</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">13</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">14</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">15</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">16</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">17</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">18</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">19</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
  <li class="level__item level__item--locked">
    <a class="level__link">
      <span class="level__number">20</span title="Locked">
      <span class="fa fa-lock"><span class="_visuallyhidden">Locked</span></span>
    </a>
  </li>
</ul>
