<!-- buttons should start with class -disabled in production -->

<section class="review-extra">

  <div class="row">

    <div id="detailKanji" class="reveal-block">
      <button type="button" class="button revealToggle"><strong>K</strong>anji</button>
      <div class="reveal -hidden revealTarget">
        <p lang="ja" class="text -kanji">水中</p>
      </div>
    </div>

    <div id="detailKana" class="reveal-block">
      <button type="button" class="button revealToggle"><strong>P</strong>honetic</button>
      <div class="reveal -hidden revealTarget">
        <p lang="ja" class="text -kana">すいちゅう</p>
      </div>

    </div>
  </div>

</section>
