<div class="review-quiz">
  <div class="upper">
    <h1 id="meaning" class="meaning">Meaning</h1>
  </div>

  <div class="lower">

    <form>
      <fieldset>
        <label for="userAnswer" class="question _visuallyhidden">Vocabulary <strong>reading</strong></label>
        <input id="userAnswer" lang="ja" class="answer" type="text" placeholder="答え" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" required>

        <button id="submitAnswer" type="submit" class="submit"><span class="fa fa-chevron-right"></span><span class="_visuallyhidden">Submit</span></button>
        <input type="hidden" id="us-id" value="Nothing!">
      </fieldset>
    </form>

    {{> review-extra }}

  </div>
</div>
