<header class="review-header">
  <h1 class="review-home"><span class="fa fa-home"></span><span class="visually-hidden">KaniWani</span></h1>
  <ul class="review-stats__list">
    <li class="review-stats__item review-stats__correct-rate"><span class="fa fa-thumbs-up"></span> 100%</li>
    <li class="review-stats__item review-stats__completed-count"><span class="fa fa-check"></span> 0</li>
    <li class="review-stats__item review-stats__available-count"><span class="fa fa-inbox"></span> 104</li>
  </ul>
</header>
