<div class="review-header">
  <!-- not <progress> due to inconsistent browser implementation -->
  {{> progress-bar }}
  <a href="{% url "kw:home" %}" class="homelink">
		<!-- TODO: inline svgs in head instead -->
		<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	    <path d="M18.5 0h-13A5.506 5.506 0 0 0 0 5.5v13C0 21.532 2.467 24 5.5 24h13c3.033 0 5.5-2.468 5.5-5.5v-13C24 2.468 21.533 0 18.5 0zm-1.98 14H7.5a.5.5 0 0 1-.42-.77l4.5-7c.184-.286.657-.286.84 0l4.438 6.9a.502.502 0 0 1-.338.87zm.48 1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1 0-1h9a.5.5 0 0 1 .5.5z"/>
	    <path d="M8.416 13h7.168L12 7.425z"/>
		</svg>
	</a>
  <ul class="statslist">
    <li class="item"><span class="icon i-thumbsup"></span><span id="reviewsCorrect">0</span>%</li>
    <li class="item"><span class="icon i-ok"></span><span id="reviewsDone">0</span></li>
    <li class="item"><span class="icon i-inbox"></span><span id="reviewsLeft"></span></li>
  </ul>
</div>
