<div class="review-quiz">
  <div class="upper">
    <h1 id="meaning" class="meaning"><span class="icon -loading"></span></h1>
  </div>

  <div class="lower">

    <form id="answerPanel" class="answerpanel">
      <div class="streak hint--right hint--rounded" data-hint="enlightened">
        <span class="icon i-enlightened"></span>
      </div>

      <label for="userAnswer" class="question _visuallyhidden">Vocabulary <strong>reading</strong></label>
      <input id="userAnswer" lang="ja" class="answer" type="text" placeholder="答え" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off">

      <button id="ignoreAnswer" type="button" class="submit -ignore">
        <!-- wrap because <button> can't display:flex in safari properly -->
        <span class="submitwrap">
          <span class="icon i-cancel"></span>
        </span>
      </button>

      <button id="submitAnswer" type="submit" class="submit -answer">
        <!-- wrap because <button> can't display:flex in safari properly -->
        <span class="submitwrap">
          <span class="icon i-rightarrow"></span>
        </span>
      </button>

      <div id="srsUp" class="srs-up">
        <div class="content icon i-plus" data-after=""></div>
      </div>
    </form>

    {{> review-extra }}

  </div>
</div>
