<div class="review-header">
  <div class="inner">
    <progress class="progressbar" min="0" max="2000" value="50"></progress>
    <a href="{% url "kw:home" %}" class="homelink"><span class="i-home"></span></a>
    <ul class="statslist">
      <li id="reviewsCorrect" class="item"><span class="i-thumbsup"></span> 100%</li>
      <li id="reviewsDone" class="item"><span class="i-ok"></span> 0</li>
      <li id="reviewsLeft" class="item"><span class="i-inbox"></span> 0</li>
    </ul>
  </div>
</div>
