---
notes: |
  Converts to expandable menu on narrow viewports.

  If there are no reviews, add `_visuallyhidden` class to `span.count`.
---

<nav id="nav-main" class="okayNav">
  <ul class="nav-list">
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Reviews <span class="count">42+</span></span>
      </a>
    </li>
    <li class="item -active">
      <a href="#" class="nav-link">
        <span class="text">Vocab</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">About</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Contact</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Settings</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
