---
notes: |
  If there are no reviews, add `_visuallyhidden` class to `span.count`
---

<nav class="site-nav">
  <a href="#0" class="expandToggle">☰ Menu</a>
  <ul class="nav-list toggleTarget">
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Reviews <span class="count">42+</span></span>
      </a>
    </li>
    <li class="item -active">
      <a href="#" class="nav-link">
        <span class="text">Vocab</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">About</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Contact</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Settings</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
