---
notes: |
  Converts to expandable menu on narrow viewports.

  If there are no reviews, add `u-visuallyhidden` class to `span.count`.
---

<nav id="js-site-nav" class="site-nav">
  <ul class="nav-list">
    <li class="item -mobileonly -active">
      <a href="#" class="nav-link">
        <span class="text">Reviews <span class="count">42+</span></span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Vocab</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">About</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Contact</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Settings</span>
      </a>
    </li>
    <li class="item">
      <a href="#" class="nav-link">
        <span class="text">Logout</span>
      </a>
    </li>
    <li class="item kebab-toggle -mobileonly">
      <button type="button" id="js-mobilemenu-toggle" class="kebab-toggle-button">
        <span></span>
        <span></span>
        <span></span>
        <span class="u-visuallyhidden">Open mobile menu</span>
      </button>
    </li>
  </ul>
</nav>

<nav class="mobile-menu">
  <ul class="nav-list -vertical">
    <li class="item -mobileonly">
      <a href="#" class="nav-link">
        <span class="text">Vocab</span>
      </a>
    </li>
    <li class="item -mobileonly">
      <a href="#" class="nav-link">
        <span class="text">About</span>
      </a>
    </li>
    <li class="item -mobileonly">
      <a href="#" class="nav-link">
        <span class="text">Contact</span>
      </a>
    </li>
    <li class="item -mobileonly">
      <a href="#" class="nav-link">
        <span class="text">Settings</span>
      </a>
    </li>
    <li class="item -mobileonly">
      <a href="#" class="nav-link">
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
