<div class="srs-dashboard">
  <ul class="list">
    <li class="item -apprentice">
      <p class="count">42</p>
      <h5 class="title">Apprentice</h5>
    </li>
    <li class="item -guru">
      <p class="count">5</p>
      <h5 class="title">Guru</h5>
    </li>
    <li class="item -master">
      <p class="count">0</p>
      <h5 class="title">Master</h5>
    </li>
    <li class="item -enlightened">
      <p class="count">1680</p>
      <h5 class="title">Enlightened</h5>
    </li>
    <li class="item -burned">
      <p class="count">199</p>
      <h5 class="title">Burned</h5>
    </li>
  </ul>
</div>
