<div class="srs-dashboard">
  <ul class="list">
    <li class="item -apprentice">
      <a class="link" href="#">
        <span class="icon i-apprentice"></span>
        <span class="count">42</span>
      </a>
    </li>
    <li class="item -guru">
      <a class="link" href="#">
        <span class="icon i-guru"></span>
        <span class="count">5</span>
      </a>
    </li>
    <li class="item -master">
      <a class="link" href="#">
        <span class="icon i-master"></span>
        <span class="count">0</span>
      </a>
    </li>
    <li class="item -enlightened">
      <a class="link" href="#">
        <span class="icon i-enlightened"></span>
        <span class="count">1680</span>
      </a>
    </li>
    <li class="item -burned">
      <a class="link" href="#">
        <span class="icon i-burned"></span>
        <span class="count">199</span>
      </a>
    </li>
  </ul>
</div>
