<div class="srs-dashboard">
  <ul class="list">
    <li class="item -apprentice">
      <a href="#">
        <p class="count">42</p>
        <h5 class="title">Apprentice</h5>
      </a>
    </li>
    <li class="item -guru">
      <a href="#">
        <p class="count">5</p>
        <h5 class="title">Guru</h5>
      </a>
    </li>
    <li class="item -master">
      <a href="#">
        <p class="count">0</p>
        <h5 class="title">Master</h5>
      </a>
    </li>
    <li class="item -enlightened">
      <a href="#">
        <p class="count">1680</p>
        <h5 class="title">Enlightened</h5>
      </a>
    </li>
    <li class="item -burned">
      <a href="#">
        <p class="count">199</p>
        <h5 class="title">Burned</h5>
      </a>
    </li>
  </ul>
</div>
