<a id="addSynonym" class="button -addsynonym -hidden" data-modal="#newSynonym" href="#">Add <strong>S</strong>ynonym</a>

<div class="modal modal-medium synonym-modal" data-modal-window id="newSynonym">
    <a class="close" data-modal-close><span class="icon i-cancel"></span></a>
    <h3 class="title">Add an accepted answer synonym</h3>
      <form id="synonymForm" class="synonym-form">
        <label class="wrappinglabel" for="newKana">
          <span class="text">New Kana:</span>
          <input lang="ja" class="input" type="text" id="newKana" name="kana" value="" autocomplete="nope" />
          <a class="jisho" href="//jisho.org/search/" rel="external" target="_blank" title="Search Jisho" tabindex="-1"><span class="icon i-help"></span></a>
        </label>
        <label class="wrappinglabel" for="newKanji">
          <span class="text">New Kanji:</span>
          <input lang="ja" class="input" type="text" id="newKanji" name="kanji" value="" autocomplete="nope"/>
          <a class="jisho" href="//jisho.org/search/" rel="external" target="_blank" title="Search Jisho" tabindex="-1"><span class="icon i-help"></span></a>
        </label>
        <div class="validation -hidden">
          <p><span class="icon i-attention"></span>Please provide both Kana and Kanji. If there is no associated Kanji (IE. <span lang="ja">アメリカじん</span>) – use Hiragana for that field. If you're unsure of either, press the "?" icon to search Jisho.org!</p>
        </div>
        <button id="synonymSubmit" type="submit" class="button -submit">Submit</button>
    </form>
</div>
