<div class="user-overview">

  <h2 class="name">evolutionxbox</h2>
  <div class="gravatar">
    <img title="Gravatar" alt="User Gravatar" src="//www.gravatar.com/avatar/01e16ed8a3bc3246278001359f7a0257.jpg?s=300&amp;amp;timestamp=2015214&amp;d=https://s3.amazonaws.com/s3.wanikani.com/default-avatar-300x300-20121121.png">
  </div>

  <div class="reviews">
    <button type="button" id="forceSrs" class="pure-button button">
      <span class="_visuallyhidden">Refresh reviews</span>
      <span class="i-refresh"></span>
    </button>
    <a id="reviewCount" href="#" role="button" class="pure-button button -disabled">354 Reviews</a>
  </div>

</div>
