---
notes: |
  The background for `user-overview` is transparent since the parent (`user-section`) has a background-image
---

<div class="user-overview">

  <h2 class="name">Subversity</h2>
  <div class="gravatar">
    <img alt="User Gravatar" src="//www.gravatar.com/avatar/c8b3772c4c10399c249ec96df63633c7?s=300">
  </div>

  <div class="reviews">
    <button type="button" id="forceSrs" class="pure-button button">
      <span class="_visuallyhidden">Refresh reviews</span>
      <span class="i-refresh"></span>
    </button>
    <a id="reviewCount" href="#" role="button" class="pure-button button -disabled">354 Reviews</a>
  </div>

</div>
