<div class="user-details">

  <div class="wkinfo">
    <h3 class="title">Crabigator Apprentice Info</h3>
    <ul class="list">
      <li class="item">
        <strong><span class="username">evolutionxbox</span></strong> of <strong>Sect Turtles</strong>
      </li>
      <li class="item">
        <strong>Level <span class="level">6</span></strong> Apprentice
      </li>
      <li class="item">
        Scribed <strong><span class="topics-count">6</span> topics</strong> &amp; <strong><span class="posts-count">78</span> posts</strong>
      </li>
      <li class="item">
        Serving the Crabigator since <strong><span class="join-date">May 26, 2012</span></strong>
      </li>
    </ul>
  </div>

  <div class="userinfo">
    <h3 class="title">About Evolutionxbox</h3>
    <p class="text">Experienced web developer from London.</p>
    <p class="text">Currently works @radleyyeldar.</p>
    <ul class="list">
      <li class="item">
        <a href="http://www.twitter.com/evolutionxbox" class="link"><span class="fa fa-twitter"></span>@evolutionxbox</a>
      </li>
      <li class="item">
        <a href="http://jonweb.co.uk" class="link"><span class="fa fa-link"></span>Website</a>
      </li>
    </ul>
  </div>

</div>
