<div class="user-overview">

  <h2 class="user-name">evolutionxbox</h2>
  <div class="user-gravatar gravatar">
    <img title="Gravatar" alt="Gravatar" src="//www.gravatar.com/avatar/01e16ed8a3bc3246278001359f7a0257.jpg?s=300&amp;amp;timestamp=2015214&amp;d=https://s3.amazonaws.com/s3.wanikani.com/default-avatar-300x300-20121121.png">
  </div>

  <div class="dashboard-reviews">
    <h2 class="visually-hidden">Reviews</h2>
    <button class="pure-button"><span class="visually-hidden">Refresh</span><span class="fa fa-refresh"></span></button>
    <button class="pure-button">354 Reviews</button>
  </div>

</div>
