<div class="user-details">

  <div class="col">
    <h3>Crabigator Apprentice Info</h3>
    <ul class="user-details__list">
      <li class="user-details__item">
        <strong><span class="username">evolutionxbox</span></strong> of <strong>Sect <span class="title">Turtles</span></strong>
      </li>
      <li class="user-details__item">
        <strong>Level <span class="level">6</span></strong> Apprentice
      </li>
      <li class="user-details__item">
        Scribed <strong><span class="topics-count">6</span> topics</strong> &amp; <strong><span class="posts-count">78</span> posts</strong>
      </li>
      <li class="user-details__item">
        Serving the Crabigator since <strong><span class="join-date">May 26, 2012</span></strong>
      </li>
    </ul>
  </div>

  <div class="col">
    <h3>About Evolutionxbox</h3>
    <p>Experienced web developer from London. Currently works @radleyyeldar.</p>
    <ul class="user-soical">
      <li class="user-soical__item">
        <a href="http://www.twitter.com/evolutionxbox" class="user-soical__link"><span class="fa fa-twitter"></span>@evolutionxbox</a>
      </li>
      <li class="user-soical__item">
        <a href="http://jonweb.co.uk" class="user-soical__link"><span class="fa fa-link"></span>Website</a>
      </li>
    </ul>
  </div>

</div>
