---
notes: |
  Has Vocab-Extra tucked away inside (toggle via bottom right).
  Modifier classes and icons alter this component, see them in action in [vocab-list](/components.html#vocab-list).

  Classes: `-locked -unlockable -expanded`

  Icons: `.icon i-lock .icon i-unlocked .icon i-unlock`

  When used in review summary, `.readingset` is a link not a div!
---

<li class="vocab-card {{modifiers}}">
  <div class="vocab-base">

    <dl class="readingset">
      <span class="ja">
        <dt lang="ja" class="kana">おたんじょうびおめでとう</dt>
        <dt lang="ja" class="kanji">お誕生日おめでとう</dt>
      </span>
      <dd class="meaning">Happy Birthday</dd>
    </dl>

    <span class="{{icon}} -lockstatus "></span>
    <!-- <span class="icon i-burned -srslevel" title="Burned on WaniKani!"></span> -->
  </div>

</li>

