<div class="vocab-extra">
  <span class="icon icon-enlighten"></span>

  <div class="synonyms">
    <span class="text">User synonyms:</span>
    <ul class="list">
      <li class="item" contentEditable="true">Birth anniversary</li>
      <li class="item" contentEditable="true">That day of the year</li>
    </ul>
  </div>
  <!-- TODO: unstyled button[type="button"] with span inside -->
  <!-- TODO: chevron-down instead of ellipsis -->
  <a href="#" class="extratoggle fa fa-ellipsis-v" title="More Info"></a>
</div>
