---
notes: |
  Has Vocab-Extra tucked away inside (toggle via bottom right).
  Modifier classes, icons, and hints alter this component, see them in action in [vocab-list](/components.html#vocab-list).

  Classes: `-locked -unlockable -expanded`

  Icons: `.i-lock .i-unlocked .i-unlock`

  Hints: `Locked, Unlock, Relock`
---

<li class="vocab-card {{modifiers}}">
  <div class="vocab-base">

    <div class="readingset">
      <span lang="ja" class="kanji">お誕生日おめでとう</span>
      <span lang="ja" class="kana">おたんじょうびおめでとう</span>
      <span class="meaning">Happy Birthday</span>
    </div>

    <span class="icon {{icon}}" title="{{hint}}"></span>

  </div>

  {{> vocab-extra }}

</li>
