---
notes: |
  TODO: color srs icons appropriately based on modifier class name `-enlighten` etc.

  Haven't looked at evo's icomoon icons really yet.
---
<div class="vocab-extra">
  <span class="icon icon-enlighten"></span>

  <div class="synonyms">
    <span class="text">User synonyms:</span>
    <ul class="list">
      <li class="item" contentEditable="true">Birth anniversary</li>
      <li class="item" contentEditable="true">That day of the year</li>
    </ul>
  </div>
  <a href="#" class="extratoggle fa fa-ellipsis-v"></a>
</div>
