---
notes: |
  `data-en` and `data-ja` are for use in mouseover tooltip (not yet implemented!)
---

<ul>
  <li class="vocabulary" data-en="Promise" data-ja="やくそく">
    <a lang="ja" href="{% url "kw:vocabulary" %}{{ reading.level }}">約束</a>
  </li>
  <li class="vocabulary" data-en="Reservation" data-ja="よやく">
    <a lang="ja" href="{% url "kw:vocabulary" %}{{ reading.level }}">予約</a>
  </li>
  <li class="vocabulary" data-en="Promise" data-ja="やく">
    <a lang="ja" href="{% url "kw:vocabulary" %}{{ reading.level }}">約</a>
  </li>
  <li class="vocabulary" data-en="To Promise" data-ja="やくする">
    <a lang="ja" href="{% url "kw:vocabulary" %}{{ reading.level }}">約する</a>
  </li>
</ul>
