html {
	height: 100%;

	&.f-menu-active {
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width: 100%;
/*
https://github.com/fbrctr/fabricator/issues/242

The styleguide currently uses height: 100% with overflow: auto on body if the menu is open. This leads to buggy behaviour with JS widgets which compute the position of an element to absolutely position the widget (e.g. datepickers, custom selects, tooltips, ...) because they are not able to compute the position as expected.

Another problem which has its roots in this styling is that of keeping scroll position after auto-reloading the page. This never worked for me. If I remove height: 100% it does. */

//		height: 100%;
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
			height: auto;
		}
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	padding: 0 1em;
	z-index: 0;
	min-height: 100vh;

	.f-menu-active & {
		transform: translate($menu-width, 0);

		@media (min-width: 60em) {
			margin-left: $menu-width;
			transform: translate(0, 0);
		}
	}
}
