main {
  padding: 20px;

  header {
    margin-bottom: .5rem;
    overflow: hidden;
  }

  section {
    @include border-radius(3px);
    background: #fff;
    margin-top: 24px;
    padding: 20px;
  }
}