<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">

  <title>{{title}}</title>

  <link rel="stylesheet" href="{{baseurl}}/assets/styles/global.css">

  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700|Open+Sans:300,700,400'
        rel='stylesheet' type='text/css'>

  <!-- favicons -->
  <link href="/assets/toolkit/images/favicon/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="/assets/toolkit/images/favicon/favicon-128.png" rel="shortcut icon" sizes="128x128" type="image/png" />
  <link href="/assets/toolkit/images/favicon/favicon-128.png" rel="apple-touch-icon" sizes="128x128" type="image/png" />
  <link href="/assets/toolkit/images/favicon/favicon-128.png" rel="apple-touch-icon-precomposed" sizes="128x128" type="image/png" />

</head>
<body>

  <noscript>KaniWani requires JavaScript to function properly. Please re-enable JavaScript or try refreshing the page.</noscript>

  {{> site-header }}

  <main class="main">
    {% body %}
  </main>

  {{> site-footer }}

  <script src="{{baseurl}}/assets/toolkit/scripts/global.js"></script>
</body>
</html>

