.level-vocab {
  background: #f1f1f1;
  margin: 3vw 3vw;
  width: 94vw;
}

.level-vocab .level-vocab__heading th {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 2vw 2vw 1vw;
  text-shadow: 0 1px 0 #fff;
  vertical-align: bottom;
}

.level-vocab .level-vocab__row {}

.level-vocab .level-vocab__row td {
  padding: 2vw;
  vertical-align: middle;
}

.level-vocab .level-vocab__row td:nth-child(1) {
  padding-left: 2vw;
}

.level-vocab .level-vocab__row td:last-child {
  padding-right: 2vw;
}

.level-vocab .level-vocab__need-review,
.level-vocab .level-vocab__readings,
.level-vocab .level-vocab__next-review,
.level-vocab .level-vocab__toggle-hidden {
  text-align: right;
}

.level-vocab .level-vocab__meaning {
  width: 50%;
}

.level-vocab .level-vocab__readings {
  font-family: Meiryo, Hiragino Kaku Gothic Pro, ヒラギノ角ゴ Pro W3, メイリオ, Osaka, MS PGothic, ＭＳ Ｐゴシック, sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  width: 20%;
}

.level-vocab .level-vocab__readings ruby {
  display: block;
  margin-bottom: .25em;
}

.level-vocab .level-vocab__readings ruby span {
  display: block;
  line-height: 1.6;
}

.level-vocab .level-vocab__next-review {
  width: 20%;
}

.level-vocab .level-vocab__toggle-hidden {
  width: 20%;
}