html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #333333;
  background-color: #ffffff;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.25;
}


.home-button {
  margin-left: 0;
  margin-top: 20px;
}

#reviews-left {
  float: right;
  margin-right: 0;
  width: 52px;
}