img {
  position: absolute;
  display: inline;
  right: 0;
  top:10px;
}


/* Unlock levels list */
.unlock-levels {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.unlock-levels__item {
  display: block;
}

.unlock-levels__item a {
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  display: block;
  height: 125px;
  margin: 0 0 30px;
  position: relative;
}

.unlock-levels__level {
  font-size: 1.2em;
}

.unlock-levels__status {
}

.unlock-levels__level,
.unlock-levels__status {
  transform: translateY(-100%);
  top: 50%;
  display: block;
  position: relative;
}

.unlock-levels__item a:before {
  content: '';
  font-family: FontAwesome;
  font-size: 5em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  z-index: 0;
  opacity: 0.14;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.unlock-levels__item .unlocked:before {
  content: '\f09c';
  /*content: '\f13e';*/
}

.unlock-levels__item .locked:before {
  content: '\f023';
}

.unlock-levels__item .unlockable:before {
  content: '\f13e';
}