
.i-lock:before { content: '\e800'; } /* '' */
.i-unlocked:before { content: '\e801'; } /* '' */
.i-unlock:before { content: '\e802'; } /* '' */
.i-enlightened:before { content: '\e803'; } /* '' */
.i-burned:before { content: '\e804'; } /* '' */
.i-apprentice:before { content: '\e805'; } /* '' */
.i-guru:before { content: '\e806'; } /* '' */
.i-master:before { content: '\e807'; } /* '' */
.i-help:before { content: '\e808'; } /* '' */
.i-home:before { content: '\e809'; } /* '' */
.i-downarrow:before { content: '\e80a'; } /* '' */
.i-leftarrow:before { content: '\e80b'; } /* '' */
.i-rightarrow:before { content: '\e80c'; } /* '' */
.i-uparrow:before { content: '\e80d'; } /* '' */
.i-refresh:before { content: '\e80e'; } /* '' */
.i-attention:before { content: '\e80f'; } /* '' */
.i-thumbsup:before { content: '\e810'; } /* '' */
.i-thumbsdown:before { content: '\e811'; } /* '' */
.i-link:before { content: '\e812'; } /* '' */
.i-inbox:before { content: '\e813'; } /* '' */
.i-twitter:before { content: '\e814'; } /* '' */
.i-ok:before { content: '\e815'; } /* '' */
.i-cancel:before { content: '\e816'; } /* '' */
.i-plus:before { content: '\e817'; } /* '' */
.i-minus:before { content: '\e818'; } /* '' */
.i-edit:before { content: '\e819'; } /* '' */
.i-spin:before { content: '\e81a'; } /* '' */