<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kaniwani | Maintenance</title>

  <link rel="stylesheet" href="../assets/styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700|Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="修理中">
  <div class="text">
    <h1 class="-mega">Maintenance!?<span lang="ja">絶望した！</span></h1>
    <p><span lang="ja">ちょっと待って...</span> We're just rebooting the server.</p>
  </h1>
</div>

</body>
</html>
