{% extends "kw_webapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="login-section -fullwidth">

  <div class="container">
    <h1 class="title">Welcome</h1>
    {% crispy form %}
  </div>

  <h1 class="feedback">Collecting turtles...<span class="icon -loading"></span></h1>
  <a href="{% url "kw:register" %}" class="link">Not a member? Register here</a>

  <!-- dem turtles -->
  <ul class="floating-icons" aria-hidden="true" role="presentation">
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
    <li class="icon"><span class="icon-turtle"></span></li>
  </ul>

</div>

{% endblock %}
