{% extends "kw_webapp/base.html" %}
{% load i18n %}

{% block content %}

<div class="login-section -fullwidth">
  <div class="container">
    <h1 class="title">New Password</h1>
    {% if validlink %}
      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly!" %}</p>

      <form class="login-form" action="" method="post">{% csrf_token %}
        <div class="form-group">
          <div class="controls">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {{ form.new_password1 }}
          </div>
        </div>

        <div class="form-group">
          <div class="controls">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {{ form.new_password2 }}
          </div>
        </div>



        <div class="form-actions">
          <input class="button -submit" type="submit" value="{% trans 'Change my password' %}">
        </div>
      </form>

    {% else %}

      <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}

  </div>
</div>

{% endblock %}
