{% extends "kw_webapp/base.html" %}
{% load i18n %}

{% comment %}
TODO @Subversity So this is the 'enter your email' page!. Style however you'd like. I think its fine if this page looks exactly like the login page, but I'll leave it to you.
{% endcomment %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
