{% extends "kw_webapp/base.html" %}
{% load i18n %}

{% block content %}

<div class="login-section -fullwidth">
  <div class="container">
    <h1 class="title">Reset Password</h1>
    <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form class="login-form" action="" method="post">{% csrf_token %}
      {{ form.email.errors }}
      <div class="form-group">
        <div class="controls">
          <label class="u-visuallyhidden" for="id_email">{% trans 'Email address' %}</label>
          {{ form.email }}
        </div>
      </div>
      <div class="form-actions">
        <input class="button -submit" type="submit" value="{% trans 'Send' %}">
      </div>
    </form>
  </div>
</div>

{% endblock %}
