{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
{% comment %}
  TODO: @Subversity this is the actual email that gets sent to the user. Only thing you cant change is the reset_link block

  @tadgh: easiest way for me to test these is probably to push live, and let me reset my password a few times.
  I can make any changes needed and deploy once.

  That said... I've never done any email styling before and I've heard it's hell.
  Do you think this is fine as it is?. Maybe mike has done email before?

{% endcomment %}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
